<div class="col-xl-12">
  <div class="card" style="background-color: beige">
    <div class="card-body">
      <h4 class="card-title">
        <span style="color: black"></span>
        Usage Decision
      </h4>
      <form class="needs-validation" [formGroup]="validationform">
        <div class="row">
          <!-- Plant -->
          <div class="col-md-1">
            <label class="brandcolor" for="WERK">PLANT</label>
            <div class="mb-3">
              <select class="form-select" id="WERK" formControlName="WERK">
                <option value="" disabled selected>Plant</option>
                <option *ngFor="let type of plants" [value]="type">
                  {{ type }}
                </option>
              </select>
              <div *ngIf="submit && form.WERK.errors" class="invalid-feedback">
                <span *ngIf="form.WERK.errors.required"
                  >Please provide a valid Plant.</span
                >
              </div>
            </div>
          </div>
          <!-- Posting Date From -->
          <div class="col-md-2">
            <label class="brandcolor" for="fromDate">FROM DATE</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="fromDate"
                formControlName="fromDate"
                [bsConfig]="bsConfig"
                bsDatepicker
                placeholder="FROM DATE"
                [ngClass]="{
                  'is-invalid': submit && form.fromDate.errors
                }"
              />
              <div
                *ngIf="submit && form.fromDate.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.fromDate.errors.required"
                  >Please provide a valid FROM DATE.</span
                >
              </div>
            </div>
          </div>
          <!-- Posting Date To -->
          <div class="col-md-2">
            <label class="brandcolor" for="toDate">TO DATE</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="toDate"
                formControlName="toDate"
                [bsConfig]="bsConfig"
                bsDatepicker
                placeholder="TO DATE"
                [ngClass]="{
                  'is-invalid': submit && form.toDate.errors
                }"
              />
              <div
                *ngIf="submit && form.toDate.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.toDate.errors.required"
                  >Please provide a valid TO DATE.</span
                >
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end card -->
  <div class="row m-0 p-0">
    <div class="card col-md-6 mx-0 px-0">
      <div class="card-body">
        <div class="col-sm-12 col-md-12">
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-4">
              <div class="dataTables_length">
                <label class="d-inline-flex align-items-center">
                  Show
                  <select
                    name="tickets-table_length"
                    aria-controls="tickets-table"
                    class="form-control form-control-sm mx-2"
                    [(ngModel)]="service.pageSize"
                    (change)="onPageSizeChange()"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>

            <!-- Search -->
            <div class="col-sm-12 col-md-8">
              <div class="d-flex justify-content-end align-items-center">
                <!-- Search Field -->
                <!-- <div id="tickets-table_filter" class="dataTables_filter">
                  <label class="d-inline-flex align-items-center">
                    Filter:
                    <input
                      type="text"
                      name="searchTerm"
                      class="form-control form-control-sm ms-2"
                      aria-controls="tickets-table"
                      [(ngModel)]="service.searchTerm"
                      (input)="resetPagination()"
                    />
                  </label>
                </div> -->
              </div>
            </div>
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable" class="table dt-responsive nowrap">
              <thead>
                <tr>
                  <th
                    class="brandcolor"
                    sortable="STATUS"
                    (sort)="onSort($event)"
                    style="
                      background-color: #2c3e50;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    Status
                  </th>
                  <th
                    class="brandcolor"
                    sortable="WERK"
                    (sort)="onSort($event)"
                    style="
                      background-color: #2c3e50;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    Plant
                  </th>
                  <th
                    class="brandcolor"
                    sortable="PRUEFLOS"
                    (sort)="onSort($event)"
                    style="
                      background-color: #2c3e50;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    Inspection Lot
                  </th>
                  <th
                    class="brandcolor"
                    sortable="MATNR"
                    (sort)="onSort($event)"
                    style="
                      background-color: #2c3e50;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    Material
                  </th>
                  <th
                    class="brandcolor"
                    sortable="MAKTX"
                    (sort)="onSort($event)"
                    style="
                      background-color: #2c3e50;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    Material Name
                  </th>
                  <th
                    class="brandcolor"
                    sortable="CHARG"
                    (sort)="onSort($event)"
                    style="
                      background-color: #2c3e50;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    Batch No
                  </th>
                  <th
                    class="brandcolor"
                    sortable="EBELN"
                    (sort)="onSort($event)"
                    style="
                      background-color: #2c3e50;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    PO No
                  </th>
                  <th
                    class="brandcolor"
                    sortable="EBELP"
                    (sort)="onSort($event)"
                    style="
                      background-color: #2c3e50;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    PO Item
                  </th>
                  <th
                    class="brandcolor"
                    sortable="LOSMENGE"
                    (sort)="onSort($event)"
                    style="
                      background-color: #2c3e50;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    Lot Qty
                  </th>
                  <th
                    class="brandcolor"
                    sortable="LMENGEZUB"
                    (sort)="onSort($event)"
                    style="
                      background-color: #2c3e50;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    To be Posted Qty
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let table of tables$ | async; let i = index">
                <tr>
                  <td>{{ table.STATUS }}</td>
                  <!-- Status -->
                  <td>{{ table.WERK }}</td>
                  <!-- Plant -->
                  <td
                    style="color: brown; cursor: pointer"
                    (click)="updateResults(table)"
                  >
                    {{ table.PRUEFLOS }}
                  </td>
                  <!-- Inspection Lot -->
                  <td>{{ table.MATNR }}</td>
                  <!-- Material -->
                  <td>{{ table.MAKTX }}</td>
                  <!-- Material Name -->
                  <td>{{ table.CHARG }}</td>
                  <!-- Batch No -->
                  <td>{{ table.EBELN }}</td>
                  <!-- PO No -->
                  <td>{{ table.EBELP }}</td>
                  <!-- PO Item -->
                  <td>{{ table.LOSMENGE }}</td>
                  <!-- Lot Qty -->
                  <td>{{ table.LMENGEZUB }}</td>
                  <!-- To be Posted Qty -->
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Pagination -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" role="status" aria-live="polite">
                Showing {{ service.startIndex }} to {{ service.endIndex }} of
                {{ service.totalRecords }} entries
              </div>
            </div>
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ul class="pagination justify-content-end mb-0">
                  <!-- Previous Button -->
                  <li
                    class="page-item"
                    [class.disabled]="service.page === 1"
                    [class.highlighted]="service.clickedButton === 'previous'"
                    (click)="onButtonClick('previous')"
                  >
                    <a
                      class="page-link"
                      href="javascript:void(0)"
                      [ngStyle]="{ 
                        border: service.page > 1 ? '2px solid MediumSeaGreen' : 'none',
                        backgroundColor: service.clickedButton === 'previous' ? '#d4edda' : 'transparent',
                        transition: 'background-color 0.3s ease, transform 0.2s ease'
                      }"
                      [class.page-link-hover]="service.page > 1"
                    >
                      Previous
                    </a>
                  </li>
          
                  <!-- Current Page Display -->
                  <li class="page-item active">
                    <a class="page-link" href="javascript:void(0)">
                      {{ service.page }}
                    </a>
                  </li>
          
                  <!-- Next Button -->
                  <li
                    class="page-item"
                    [class.disabled]="service.page === service.totalPages"
                    [class.highlighted]="service.clickedButton === 'next'"
                    (click)="onButtonClick('next')"
                  >
                    <a
                      class="page-link"
                      href="javascript:void(0)"
                      [ngStyle]="{ 
                        border: service.page < service.totalPages ? '2px solid MediumSeaGreen' : 'none',
                        backgroundColor: service.clickedButton === 'next' ? '#d4edda' : 'transparent',
                        transition: 'background-color 0.3s ease, transform 0.2s ease'
                      }"
                      [class.page-link-hover]="service.page < service.totalPages"
                    >
                      Next
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-md-6 mx-0 px-0 ps-1">
      <div class="card-body">
        <!-- side form table-->
        <div class="col-sm-12 col-md-12" *ngIf="resultRecordingScreen">
          <div class="w-full bg-white shadow-md">
            <form class="needs-validation" [formGroup]="floatingForm">
              <div class="row p-2">
                <!-- Inspection Lot -->
                <div class="col-md-6">
                  <h6>Inspection Lot</h6>
                  <input
                    class="form-control"
                    id="PRUEFLOS"
                    formControlName="PRUEFLOS"
                    placeholder="Inspection Lot"
                    [readonly]="true"
                  />
                </div>
                <!-- Material -->
                <div class="col-md-6">
                  <h6>Material</h6>
                  <input
                    class="form-control"
                    id="MATNR"
                    formControlName="MATNR"
                    placeholder="material Number"
                    [readonly]="true"
                  />
                </div>
              </div>
              <div class="row p-2">
                <!-- Material Name -->
                <div class="col-md-6">
                  <h6>Material Name</h6>
                  <input
                    class="form-control"
                    id="MAKTX"
                    formControlName="MAKTX"
                    placeholder="Material Name"
                    [readonly]="true"
                  />
                </div>
                <!-- Lot Qty -->
                <div class="col-md-6">
                  <h6>Lot Qty</h6>
                  <input
                    class="form-control"
                    id="LOSMENGE"
                    formControlName="LOSMENGE"
                    placeholder="Lot Qty"
                    [readonly]="true"
                  />
                </div>
              </div>
              <div class="row p-2">
                <!-- Plant -->
                <div class="col-md-6">
                  <h6>Plant</h6>
                  <input
                    class="form-control"
                    id="WERK"
                    formControlName="WERK"
                    placeholder="Plant"
                    [readonly]="true"
                  />
                </div>
                <!-- Batch -->
                <div class="col-md-6">
                  <h6>Batch</h6>
                  <input
                    class="form-control"
                    id="CHARG"
                    formControlName="CHARG"
                    placeholder="Batch"
                    [readonly]="true"
                  />
                </div>
              </div>
              <div class="row p-2">
                <!-- Posting Date -->
                <div class="col-md-6">
                  <h6>Posting Date</h6>
                  <div class="mb-3">
                    <input
                      class="form-control"
                      id="POSTDATE"
                      formControlName="POSTDATE"
                      [bsConfig]="bsConfig"
                      bsDatepicker
                      placeholder="Posting Date"
                      [ngClass]="{
                        'is-invalid': submit && form.POSTDATE.errors
                      }"
                    />
                  </div>
                </div>
                <!-- Result Recording VIew button -->
                <div class="col-md-6 mt-3">
                  <button
                    style="
                      margin-top: 8px;
                      background-color: #2c3e50;
                      width: max-content;
                      color: aliceblue;
                      border-radius: 15px;
                    "
                    class="btn"
                    type="button"
                    (click)="openResultRecordingModal()"
                  >
                    Result Recording View
                  </button>
                </div>
              </div>
            </form>
            <!-- dialogTemplate -->
            <div
              class="modal fade"
              id="resultRecordingModal"
              tabindex="-1"
              aria-labelledby="resultRecordingModalLabel"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="resultRecordingModalLabel">
                      Result Recording
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <table
                      class="table table-bordered"
                      *ngIf="actualData?.length > 0"
                    >
                      <thead>
                        <tr>
                          <th>Char No</th>
                          <th>Char Type</th>
                          <th>Characteristic Name</th>
                          <th>Specifications</th>
                          <th>Sample</th>
                          <th>Result</th>
                          <th>Visual Result</th>
                          <th>A/R</th>
                          <th>Remarks</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of actualData">
                          <td>{{ row.duplicatedINSPCHAR }}</td>
                          <td>{{ row.KATAB1 }}</td>
                          <td>{{ row.KURZTEXT }}</td>
                          <td>{{ row.TOLGRENZE }}</td>
                          <td>{{ row.SOLLSTPUMF }}</td>
                          <td>{{ row.result }}</td>
                          <td>{{ getDescriptionForCode(row) }}</td>
                          <td>{{ row.CODE1 }}</td>
                          <td>{{ row.REMARK }}</td>
                          <td>
                            <button
                              *ngIf="row.isMainRow"
                              (click)="toggleDuplicateRows(row)"
                            >
                              {{ row.isVisible ? "Close" : "Split" }}
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- remarksDialog -->
            <div
              class="modal fade"
              id="remarksModal"
              tabindex="-1"
              aria-labelledby="remarksModalLabel"
              aria-hidden="true"
              #remarksModal
              [attr.aria-hidden]="isModalOpen ? 'false' : 'true'"
            >
              (shown.bs.modal)="onModalOpen()" >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="remarksModalLabel">Remarks</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                      (click)="onCancel()"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <textarea
                      [(ngModel)]="remarks"
                      rows="4"
                      class="form-control"
                      placeholder="Enter Remarks"
                    ></textarea>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      (click)="onCancel()"
                    >
                      Cancel
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="onSave()"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- remark table -->
          <form [formGroup]="tableForm">
            <div class="table-responsive">
              <table
                id="basic-datatable"
                class="table table-bordered dt-responsive nowrap"
                style="width: 100%; margin-bottom: 0; overflow-x: auto"
              >
                <thead>
                  <tr>
                    <th
                      style="
                        background-color: #2c3e50;
                        color: aliceblue;
                        text-align: center;
                      "
                    >
                      To Unrestricted Use
                    </th>
                    <th
                      style="
                        background-color: #2c3e50;
                        color: aliceblue;
                        text-align: center;
                      "
                    >
                      To Scrap
                    </th>
                    <th
                      style="
                        background-color: #2c3e50;
                        color: aliceblue;
                        text-align: center;
                      "
                    >
                      To Sample Consumption
                    </th>
                    <th
                      style="
                        background-color: #2c3e50;
                        color: aliceblue;
                        text-align: center;
                      "
                    >
                      To Blocked Stock
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <input
                          type="text"
                          formControlName="unstricted"
                          maxLength="16"
                          placeholder="To Unrestricted Use"
                          class="form-control form-control-sm"
                          style="
                            width: 100px;
                            height: 40px;
                            font-size: 14px;
                            margin-right: 10px;
                          "
                        />
                        <button
                          style="
                            background-color: #2c3e50;
                            color: aliceblue;
                            border-radius: 20px;
                            font-size: 14px;
                            height: 40px;
                          "
                          class="btn"
                          type="button"
                          (click)="openRemarksDialog(unstricted)"
                        >
                          Remarks
                        </button>
                      </div>
                    </td>
                    <td>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <input
                          type="text"
                          formControlName="scrap"
                          maxLength="16"
                          placeholder="To Scrap"
                          class="form-control form-control-sm"
                          style="
                            width: 100px;
                            height: 40px;
                            font-size: 14px;
                            margin-right: 10px;
                          "
                        />
                        <button
                          style="
                            background-color: #2c3e50;
                            color: aliceblue;
                            border-radius: 20px;
                            font-size: 14px;
                            height: 40px;
                          "
                          class="btn"
                          type="button"
                          (click)="openRemarksDialog(scrap)"
                        >
                          Remarks
                        </button>
                      </div>
                    </td>
                    <td>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <input
                          type="text"
                          formControlName="consumption"
                          maxLength="16"
                          placeholder="To Sample Consumption"
                          class="form-control form-control-sm"
                          style="
                            width: 100px;
                            height: 40px;
                            font-size: 14px;
                            margin-right: 10px;
                          "
                        />
                        <button
                          style="
                            background-color: #2c3e50;
                            color: aliceblue;
                            border-radius: 20px;
                            font-size: 14px;
                            height: 40px;
                          "
                          class="btn"
                          type="button"
                          (click)="openRemarksDialog(consumption)"
                        >
                          Remarks
                        </button>
                      </div>
                    </td>
                    <td>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <input
                          type="text"
                          formControlName="blocked"
                          maxLength="16"
                          placeholder="To Blocked Stock"
                          class="form-control form-control-sm"
                          style="
                            width: 100px;
                            height: 40px;
                            font-size: 14px;
                            margin-right: 10px;
                          "
                        />
                        <button
                          style="
                            background-color: #2c3e50;
                            color: aliceblue;
                            border-radius: 20px;
                            font-size: 14px;
                            height: 40px;
                          "
                          class="btn"
                          type="button"
                          (click)="openRemarksDialog(blocked)"
                        >
                          Remarks
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
          <div class="col-md-4 text-left m-0 p-0">
            <button
              style="
                background-color: #2c3e50;
                color: aliceblue;
                border-radius: 20px;
              "
              class="btn btn-brown text-white"
              type="submit"
              (click)="submitForm()"
              [disabled]="!isAnyFieldFilled()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
