<div class="col-xl-12">
  <div class="card" style="background-color: beige">
    <div class="card-body">
      <h4 class="card-title">
        <span style="color: black"></span>
        ZPRClose
      </h4>
      <!-- <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
              validation–available in all our supported browsers.</p> -->
      <form
        class="needs-validation"
        (ngSubmit)="validSubmit()"
        [formGroup]="validationform"
      >
        <div class="row">
          <!-- Row 1 -->
          <!-- Plant -->
          <div class="col-md-3">
            <label class="brandcolor" for="plant">PLANT</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="plant"
                formControlName="plant"
                placeholder="PLANT"
                [ngClass]="{ 'is-invalid': submit && form.plant.errors }"
              />
              <div *ngIf="submit && form.plant.errors" class="invalid-feedback">
                <span *ngIf="form.plant.errors.required"
                  >Please provide a valid plant.</span
                >
              </div>
            </div>
          </div>
          <!-- purchasegroupfrom -->
          <div class="col-md-3">
            <label class="brandcolor" for="purchasegroupfrom">PURCHASE GROUP FROM</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="purchasegroupfrom"
                formControlName="purchasegroupfrom"
                placeholder="PURCHASE GROUP FROM"
                [bsConfig]="bsConfig"
                [ngClass]="{
                  'is-invalid': submit && form.purchasegroupfrom.errors
                }"
                bsDatepicker
              />
              <div
                *ngIf="!submit && form.purchasegroupfrom.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.purchasegroupfrom.errors.required"
                  >Please provide a valid purchase group.</span
                >
              </div>
            </div>
          </div>
          <!--purchasegroupto-->
          <div class="col-md-3">
            <label class="brandcolor" for="purchasegroupto">PURCHASE GROUP TO</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="purchasegroupto"
                formControlName="purchasegroupto"
                placeholder="PURCHASE GROUP TO"
                [bsConfig]="bsConfig"
                [ngClass]="{
                  'is-invalid': submit && form.purchasegroupto.errors
                }"
                bsDatepicker
              />
              <div
                *ngIf="!submit && form.purchasegroupto.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.purchasegroupto.errors.required"
                  >Please provide a valid purchase group.</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Row 2 -->
           <!-- Current Date From-->
          <div class="col-md-3">
            <label class="brandcolor" for="fromdate">CURRENT DATE FROM</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="fromdate"
                formControlName="fromdate"
                placeholder="FROM DATE"
                [bsConfig]="bsConfig"
                [ngClass]="{
                  'is-invalid': submit && form.fromdate.errors
                }"
                bsDatepicker
              />
              <div
                *ngIf="submit && form.fromdate.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.fromdate.errors.required"
                  >Please provide a valid From Date.</span
                >
              </div>
            </div>
          </div>
          <!-- Current Date To-->
          <div class="col-md-3">
            <label class="brandcolor" for="todate">CURRENT DATE TO</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="todate"
                formControlName="todate"
                placeholder="TO DATE"
                [bsConfig]="bsConfig"
                [ngClass]="{
                  'is-invalid': submit && form.todate.errors
                }"
                bsDatepicker
              />
              <div
                *ngIf="submit && form.todate.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.todate.errors.required"
                  >Please provide a valid To Date.</span
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Button Row -->
        <div class="row mt-4">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <button
              class="btn btn-success"
              type="submit"
              (click)="getCloseDownload()"
            >
              Get Details
            </button>
          </div>
          <div class="col-md-4"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- end card -->
  <div class="card">
    <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->
    <!-- <div class="card"> -->
    <div class="card-body">
      <div class="row mb-md-2">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length">
            <label class="d-inline-flex align-items-center">
              Show
              <select
                name="tickets-table_length"
                aria-controls="tickets-table"
                class="form-control form-control-sm mx-2"
                [(ngModel)]="service.pageSize"
              >
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select>
              entries
            </label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div id="tickets-table_filter" class="dataTables_filter text-md-end">
            <label class="d-inline-flex align-items-center">
              Search:
              <input
                type="text"
                name="searchTerm"
                class="form-control form-control-sm ms-2"
                aria-controls="tickets-table"
                [(ngModel)]="service.searchTerm"
              />
            </label>
          </div>
        </div>
      </div>
      <!-- Table -->
      <div class="table-responsive">
        <table
          id="basic-datatable"
          class="table table-bordered dt-responsive nowrap"
        >
          <thead class="brandcolor tableHeader">
            <tr>
              <th></th>
              <th class="brandcolor" sortable="Close" (sort)="onSort($event)">
                Close
              </th>
              <th class="brandcolor" sortable="purReqn" (sort)="onSort($event)">
                Pur Reqn
              </th>
              <th class="brandcolor" sortable="item" (sort)="onSort($event)">
                Item
              </th>
              <th
                class="brandcolor"
                sortable="ReqnDate"
                (sort)="onSort($event)"
              >
                Reqn Date
              </th>
              <th class="brandcolor" sortable="docType" (sort)="onSort($event)">
                Doc Type
              </th>
              <th class="brandcolor" sortable="delInd" (sort)="onSort($event)">
                Del Ind
              </th>
              <th class="brandcolor" sortable="purGrp" (sort)="onSort($event)">
                Pur GRP
              </th>
              <!-- <th>Actions</th> -->
            </tr>
          </thead>
          @for(table of tables$ | async;track $index){
          <tbody>
            <tr>
              <td align="center">
                <a class="expand-row" (click)="changeValue($index)">+</a>
              </td>
              <td>{{ table.close }}</td>
              <!-- Purchase Document Number -->
              <td>{{ table.purreqn }}</td>
              <!-- Item Number -->
              <td>{{ table.item }}</td>
              <!-- Purchase Group -->
              <td>{{ table.reqndate }}</td>
              <!-- Purchase Document Date -->
              <td>{{ table.doctype }}</td>
              <!-- Supplier Code -->
              <td>{{ table.delind }}</td>
              <!-- Vendor Address -->
              <td>{{ table.purgrp }}</td>
              <!-- Material -->
            </tr>
            <ng-container *ngIf="!hideme[$index]">
              <tr class="sub-table no-bg">
                <td align="center"></td>
                <td colspan="15" class="p-0">
                  <table class="table mb-0 table-striped">
                    <thead class="bg-dark text-white">
                      <tr>
                        <th>Requisitioner</th>
                        <th>Short Text</th>
                        <th>Material Number</th>
                        <th>Plant</th>
                        <th>Qty Requested</th>
                        <th>UOM</th>
                        <th>Del Date</th>
                        <th>Rel Date</th>
                        <th>Total Value</th>
                        <th>Pending Days</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ table.Requisitioner }}</td>
                        <!-- Updating Text Field -->
                        <td>{{ table.ShortText }}</td>
                        <!-- Base Unit of Measure -->
                        <td>{{ table.MaterialNumber }}</td>
                        <!-- Plant -->
                        <td>{{ table.Plant }}</td>
                        <!-- Alternative Unit of Measure -->
                        <td>{{ table.QtyRequested }}</td>
                        <!-- Unit of Measure -->
                        <td>{{ table.UOM }}</td>
                        <!-- Bill of Quantity (BOM) -->
                        <td>{{ table.DelDate }}</td>
                        <!-- Stockkeeping Unit -->
                        <td>{{ table.RelDate }}</td>
                        <!-- Sum of Amount -->
                        <td>{{ table.TotalValue }}</td>
                        <!-- Net Price -->
                        <td>{{ table.PendingDays }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-container>
          </tbody>

          }
        </table>
      </div>
      <div class="row justify-content-md-between align-items-md-center mt-2">
        <div class="col-sm-12 col-md-5">
          <div
            class="dataTables_info mb-2"
            id="tickets-table_info"
            role="status"
            aria-live="polite"
          >
            Showing {{ service.startIndex }} to {{ service.endIndex }} of
            {{ service.totalRecords }}
            entries
          </div>
        </div>
        <!-- Pagination -->
        <div class="col-sm-12 col-md-5">
          <div class="text-md-right float-md-end pagination-rounded">
            <pagination
              [totalItems]="total$ | async"
              [(ngModel)]="service.page"
            >
            </pagination>
          </div>
        </div>
        <!-- End Pagination -->
      </div>
    </div>

    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
