<div class="col-xl-12">
  <div class="card" style="background-color: beige">
    <div class="card-body">
      <h4 class="card-title">
        <span style="color: black"></span>
        GRN Print
      </h4>
      <form class="needs-validation" [formGroup]="validationform">
        <div class="row">
          <!-- MATERIAL DOCUMENT NUMBER -->
          <div class="col-md-2">
            <label class="brandcolor" for="matDocNum">MATERIAL DOCUMENT NUMBER</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="matDocNum"
                formControlName="matDocNum"
                placeholder="Material Document Number"
                [ngClass]="{ 'is-invalid': submit && form.matDocNum.errors }"
              />
              <div *ngIf="submit && form.matDocNum.errors" class="invalid-feedback">
                <span *ngIf="form.matDocNum.errors.required"
                  >Please provide a valid Material Document Number.</span
                >
              </div>
            </div>
          </div>
          <!-- Material Documnet Year -->
          <div class="col-md-2">
            <label class="brandcolor" for="matDocYear">MATERIAL DOCUMNET YEAR</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="matDocYear"
                formControlName="matDocYear"
                placeholder="Material Documnet Year"
                [ngClass]="{ 'is-invalid': submit && form.matDocYear.errors }"
              />
              <div *ngIf="submit && form.matDocYear.errors" class="invalid-feedback">
                <span *ngIf="form.matDocYear.errors.required"
                  >Please provide a valid Material Documnet Year.</span
                >
              </div>
            </div>
          </div>
          <!-- Button -->
          <div class="col-md-1 mt-4">
            <div class="ms-4 mb-3">
              <button
                style="
                  margin-top: 8px;
                  background-color: brown;
                  width: max-content;
                  color: aliceblue;
                "
                class="btn"
                type="submit"
                (click)="getGRNPrint()"
              >
                Download
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- card 2 -->
  <div *ngif="showcard" class="card" style="background-color: beige">
    <div class="card-body">
      <div class="row mt-1">
        <div class="col-xl-4">
      <h5>
        <span class="brandcolor">GR NO</span> : {{ grno }}
      </h5>
      </div>
      <div class="col-xl-2">
      <h5>
        <span class="brandcolor">GRN Date</span> : {{ grnDate }}
      </h5>
    </div>
    </div>
    <div class="col-xl-2 mt-3">
      <h5>
        <span class="brandcolor">Vendor</span> : {{ vendorCode }}
      </h5>
    </div>
    <div class="row mt-3">
      <div class="col-xl-2">
        <h5>
          <span class="brandcolor">Vendor</span> : {{ vendorDetails }}
        </h5>
      </div>
      <div class="col-xl-6"></div>
      <div class="col-xl-2">
      <h5>
        <span class="brandcolor">DC No.</span> : {{ dcNo }}
      </h5>
      </div>
      <div class="col-xl-2">
      <h5>
        <span class="brandcolor">Date</span> : {{ dcDate }}
      </h5>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-4">
      <h5>
        <span class="brandcolor">Inbound No.</span> : {{ inboundNo }}
      </h5>
    </div>
    <div class="col-xl-4">
      <h5>
        <span class="brandcolor">Date</span> : {{ inboundDate }}
      </h5>
    </div>
    <div class="col-xl-2">
      <h5>
        <span class="brandcolor">LR/RR No</span> : {{ lrNo }}
      </h5>
    </div>
    <div class="col-xl-2">
      <h5>
        <span class="brandcolor">Date</span> : {{ lrDate }}
      </h5>
    </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-4">
      <h5>
        <span class="brandcolor">S.Loc</span> : {{ storageLocation }}
      </h5>
      </div>
      <div class="col-xl-4">
        <h5>
          <span class="brandcolor">Vehile No.</span> : {{ vehicleNo }}
        </h5>
      </div>
      <div class="col-xl-2">
        <h5>
          <span class="brandcolor">Transporter</span> : {{ transporter }}
        </h5>
        </div>
    </div>
  </div>
</div>
  
  <!-- Card 3 -->
  <div *ngif ="showtable" class="card mt-4">
    <div class="card-body">
      <div class="row mb-md-2">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length">
            <label class="d-inline-flex align-items-center">
              Show
              <select
                name="tickets-table_length"
                aria-controls="tickets-table"
                class="form-control form-control-sm mx-2"
                [(ngModel)]="service.pageSize"
              >
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select>
              entries
            </label>
          </div>
        </div>
        <!-- Export Button-->
        <div class="col-sm-12 col-md-6">
          <div class="text-md-end">
            <button
              class="btn btn-warning ms-2"
              [disabled]="(tables$ | async)?.length === 0"
              (click)="exportToPDF()"
            >
              Export to PDF
            </button>
          </div>
        </div>
      </div>
      <!-- Table -->
      <div class="table-responsive">
        <table
          id="basic-datatable"
          class="table table-bordered dt-responsive nowrap"
        >
          <thead class="brandcolor tableHeader">
            <tr>
              <th class="brandcolor" sortable="si" (sort)="onSort($event)">
                SI
              </th>
              <th
                class="brandcolor"
                sortable="MATNR"
                (sort)="onSort($event)"
              >
                Material Code
              </th>
              <th
                class="brandcolor"
                sortable="MAKTX"
                (sort)="onSort($event)"
              >
                Material Description
              </th>
              <th
                class="brandcolor"
                sortable="EBELN"
                (sort)="onSort($event)"
              >
                PO NO
              </th>
              <th
                class="brandcolor"
                sortable="STEUC"
                (sort)="onSort($event)"
              >
                HSN Code
              </th>
              <th
                class="brandcolor"
                sortable="MEINS"
                (sort)="onSort($event)"
              >
                UOM
              </th>
              <th
                class="brandcolor"
                sortable="MENGE"
                (sort)="onSort($event)"
              >
                DC Qty
              </th>
              <th
                class="brandcolor"
                sortable="LSMNG"
                (sort)="onSort($event)"
              >
                Recd Qty
              </th>
              <th
                class="brandcolor"
                sortable="RATE"
                (sort)="onSort($event)"
              >
                Rate
              </th>
              <th
                class="brandcolor"
                sortable="NET"
                (sort)="onSort($event)"
              >
                Net Value
              </th>
              <th
                class="brandcolor"
                sortable=""
                (sort)="onSort($event)"
              >
                Other Expenses
              </th>
              <th class="brandcolor" sortable="CGST/SGST/IGST" (sort)="onSort($event)">
                CGST/SGST/IGST
              </th>
              <th
                class="brandcolor"
                sortable="GROSS"
                (sort)="onSort($event)"
              >
                Gr.Value
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let table of tables$ | async; let i = index">
            <tr>
              <td>{{ i + 1 }}</td>
              <!-- Serial number -->  
              <td>{{ table.MATNR }}</td>
              <!-- Material Code -->
              <td>{{ table.MAKTX }}</td>
              <!-- Material Description -->
              <td>{{ table.EBELN }}</td>
              <!-- PO NO -->
              <td>{{ table.STEUC }}</td>
              <!-- HSN Code -->
              <td>{{ table.MEINS }}</td>
              <!-- UOM -->
              <td>{{ table.MENGE }}</td>
              <!-- DC Qty -->
              <td>{{ table.LSMNG }}</td>
              <!-- Recd Qty -->
              <td>{{ table.RATE }}</td>
              <!-- Rate -->
              <td>{{ table.NET }}</td>
              <!-- Net Value -->
              <td>{{ table.CHANGED_ON }}</td>
              <!-- Other Expenses -->
              <td>{{ table.CGST/SGST/IGST }}</td>
              <!-- CGST/SGST/IGST -->
              <td>{{ table.GROSS }}</td>
              <!-- Gr.Value -->
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <div class="row justify-content-md-between align-items-md-center mt-2">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info mb-2" role="status" aria-live="polite">
            Showing {{ service.startIndex }} to {{ service.endIndex }} of
            {{ service.totalRecords }} entries
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="text-md-right float-md-end pagination-rounded">
            <ul class="pagination justify-content-end mb-0">
              <!-- Previous Button -->
              <li
                class="page-item"
                [class.disabled]="service.page === 1"
                (click)="service.changePage(service.page - 1)"
              >
                <a class="page-link" href="javascript:void(0)">Previous</a>
              </li>

              <!-- Current Page Display -->
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">{{
                  service.page
                }}</a>
              </li>

              <!-- Next Button -->
              <li
                class="page-item"
                [class.disabled]="service.page === service.totalPages"
                (click)="service.changePage(service.page + 1)"
              >
                <a class="page-link" href="javascript:void(0)">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End of Pagination -->
    </div>
  </div>
