<div class="container-fluid">
  <!--<app-page-title [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
  <div class="row">
    <div class="col-xl-12">
      <div class="card" style="background-color: beige">
        <div class="card-body">
          <h4 class="card-title">
            <span style="color: black"></span>
            Open Purchase Order List
          </h4>
          <!-- <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
          validation–available in all our supported browsers.</p> -->
          <form
            class="needs-validation"
            (ngSubmit)="validSubmit()"
            [formGroup]="validationform"
          >
            <div class="row">
              <!-- Row 1 -->
              <!-- Plant -->
              <div class="col-md-1">
                <label class="brandcolor" for="plant">PLANT</label>
                <div class="mb-3">
                  <select
                      class="form-select"
                      id="plant"
                      formControlName="plant"
                    >
                      <option value="" disabled selected>Plant</option>
                      <option *ngFor="let type of plants" [value]="type">
                        {{ type }}
                      </option>
                    </select>
                  <div *ngIf="submit && form.plant.errors" class="invalid-feedback">
                    <span *ngIf="form.plant.errors.required"
                      >Please provide a valid plant.</span
                    >
                  </div>
                </div>
              </div>
              <!-- Purchase Group -->
              <div class="col-md-2">
                <div class="mb-3">
                  <label class="brandcolor" for="purchaseGroup"
                    >PURCHASE GROUP</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="purchaseGroup"
                    formControlName="purchaseGroup"
                    placeholder="Purchase Group"
                    [ngClass]="{
                      'is-invalid': submit && form.purchaseGroup.errors
                    }"
                  />
                  <div
                    *ngIf="submit && form.purchaseGroup.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.purchaseGroup.errors.required"
                      >Please provide a valid purchase group.</span
                    >
                  </div>
                </div>
              </div>
              <!-- From Date -->
              <div class="col-md-2">
                <div class="mb-3">
                  <label class="brandcolor" for="fromDate"
                    >FROM DATE</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="fromDate"
                    [bsConfig]="bsConfig"
                    bsDatepicker
                    formControlName="fromDate"
                    placeholder="From Date"
                    [ngClass]="{
                      'is-invalid': submit && form.fromDate.errors
                    }"
                  />
                  <div
                    *ngIf="submit && form.fromDate.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.fromDate.errors.required"
                      >Please provide a valid fromDate.</span
                    >
                  </div>
                </div>
              </div>
              <!-- To Date -->
              <div class="col-md-2">
                <div class="mb-3">
                  <label class="brandcolor" for="toDate"
                    >TO DATE</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="toDate"
                    [bsConfig]="bsConfig"
                    bsDatepicker
                    formControlName="toDate"
                    placeholder="To Date"
                    [ngClass]="{
                      'is-invalid': submit && form.toDate.errors
                    }"
                  />
                  <div
                    *ngIf="submit && form.toDate.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.toDate.errors.required"
                      >Please provide a valid delivery Date To.</span
                    >
                  </div>
                </div>
              </div>
              <!-- Documnet From -->
              <div class="col-md-2">
                <div class="mb-3">
                  <label class="brandcolor" for="documentFrom"
                    >DOC.FROM</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="documentFrom"
                    formControlName="documentFrom"
                    placeholder="Document From"
                    [ngClass]="{
                      'is-invalid': submit && form.documentFrom.errors
                    }"
                  />
                  <div
                    *ngIf="submit && form.documentFrom.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.documentFrom.errors.required"
                      >Please provide a valid Document From.</span
                    >
                  </div>
                </div>
              </div>
              <!-- Documnet To -->
              <div class="col-md-2">
                <div class="mb-3">
                  <label class="brandcolor" for="documentTo"
                    >DOC.TO</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="documentTo"
                    formControlName="documentTo"
                    placeholder="Document To"
                    [ngClass]="{
                      'is-invalid': submit && form.documentTo.errors
                    }"
                  />
                  <div
                    *ngIf="submit && form.documentTo.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.documentTo.errors.required"
                      >Please provide a valid Document To.</span
                    >
                  </div>
                </div>
              </div>
              
              <!-- Buton -->
              <div class="col-md-1 ms-2 mt-4">
                <div class="mb-3">
                  <button
                    style="
                      margin-top: 8px;
                      background-color: brown;
                      width: max-content;
                      color: aliceblue;
                    "
                    class="btn"
                    type="submit"
                    (click)="getPOLIST()"
                  >
                    Get Details
                  </button>
                </div>
              </div>
              <!-- Material -->
              <!-- <div class="col-md-2">
                <div class="mb-3">
                  <label class="brandcolor" for="material">MATERIAL</label>
                  <input
                    type="text"
                    class="form-control"
                    id="material"
                    formControlName="material"
                    placeholder="Material"
                    [ngClass]="{ 'is-invalid': submit && form.material.errors }"
                  />
                  <div
                    *ngIf="submit && form.material.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.material.errors.required"
                      >Please provide a valid material.</span
                    >
                  </div>
                </div>
              </div> -->
              <!-- PO Number -->
              <!-- <div class="col-md-2">
                <div class="mb-3">
                  <label class="brandcolor" for="poNumber">PO NUMBER</label>
                  <input
                    type="text"
                    class="form-control"
                    id="poNumber"
                    formControlName="poNumber"
                    placeholder="PO Number"
                    [ngClass]="{ 'is-invalid': submit && form.poNumber.errors }"
                  />
                  <div
                    *ngIf="submit && form.poNumber.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.poNumber.errors.required"
                      >Please provide a valid PO number.</span
                    >
                  </div>
                </div>
              </div> -->
              <!-- Delivery Date From -->
              <!-- Vendor -->
              <!-- <div class="col-md-1">
                <div class="mb-3">
                  <label class="brandcolor" for="vendor">VENDOR</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vendor"
                    formControlName="vendor"
                    placeholder="Vendor"
                    [ngClass]="{ 'is-invalid': submit && form.vendor.errors }"
                  />
                  <div
                    *ngIf="submit && form.vendor.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.vendor.errors.required"
                      >Please provide a valid vendor.</span
                    >
                  </div>
                </div>
              </div> -->
              <!-- Document Type from -->
              <!-- <div class="col-md-3">
                <div class="mb-3">
                  <label class="brandcolor" for="documentTypeFrom"
                    >DOCUMENT TYPE FROM</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="documentTypeFrom"
                    formControlName="documentTypeFrom"
                    placeholder="Document Type From"
                    [ngClass]="{
                      'is-invalid': submit && form.documentTypeFrom.errors
                    }"
                  />
                  <div
                    *ngIf="!submit && form.documentTypeFrom.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.documentTypeFrom.errors.required"
                      >Please provide a valid document type.</span
                    >
                  </div>
                </div>
              </div> -->
              <!-- Document Type To -->
              <!-- <div class="col-md-3">
                <div class="mb-3">
                  <label class="brandcolor" for="documentTypeTo"
                    >DOCUMENT TYPE TO</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="documentTypeTo"
                    formControlName="documentTypeTo"
                    placeholder="Document Type To"
                    [ngClass]="{
                      'is-invalid': submit && form.documentTypeTo.errors
                    }"
                  />
                  <div
                    *ngIf="!submit && form.documentTypeTo.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.documentTypeTo.errors.required"
                      >Please provide a valid document type.</span
                    >
                  </div>
                </div>
              </div> -->
            </div>
          </form>
        </div>
      </div>
      <!-- end card -->
      <div class="card">
        <!-- <div class="row"> -->
        <!-- <div class="col-12"> -->
        <!-- <div class="card"> -->
        <div class="card-body">
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length">
                <label class="d-inline-flex align-items-center">
                  Show
                  <select
                    name="tickets-table_length"
                    aria-controls="tickets-table"
                    class="form-control form-control-sm mx-2"
                    [(ngModel)]="service.pageSize"
                  >
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <!-- Export Button-->
            <div class="col-sm-12 col-md-6">
              <div class="text-md-end">
                <button
                  class="btn btn-warning ms-2"
                  [disabled]="(tables$ | async)?.length === 0"
                  (click)="exportToExcel()"
                >
                  Export
                </button>
              </div>
            </div>
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table
              id="basic-datatable"
              class="table table-bordered dt-responsive nowrap"
            >
              <thead class="brandcolor tableHeader">
                <tr>
                  <th></th>
                  <th
                    class="brandcolor"
                    sortable="purchasingDocument"
                    (sort)="onSort($event)"
                  >
                    PO
                  </th>
                  <th
                    class="brandcolor"
                    sortable="item"
                    (sort)="onSort($event)"
                  >
                    PO Item
                  </th>
                  <th
                    class="brandcolor"
                    sortable="material"
                    (sort)="onSort($event)"
                  >
                    Material
                  </th>
                  <th
                    class="brandcolor"
                    sortable="materialDescription"
                    (sort)="onSort($event)"
                  >
                    Material Description
                  </th>
                  <!-- <th
                class="brandcolor"
                sortable="purchasingDocType"
                (sort)="onSort($event)"
              >
                Purchasing Doc. Type
              </th> -->
                  <th
                    class="brandcolor"
                    sortable="vendorCode"
                    (sort)="onSort($event)"
                  >
                    Vendor Code
                  </th>
                  <!-- <th
                class="brandcolor"
                sortable="documentDate"
                (sort)="onSort($event)"
              >
                Document Date
              </th> -->
                  <th
                    class="brandcolor"
                    sortable="vendorName"
                    (sort)="onSort($event)"
                  >
                    Vendor Name
                  </th>
                  <th
                    class="brandcolor"
                    sortable="purchasingGroup"
                    (sort)="onSort($event)"
                  >
                    purchase Group
                  </th>
                  <th
                    class="brandcolor"
                    sortable="plant"
                    (sort)="onSort($event)"
                  >
                    Plant
                  </th>
                  <th class="brandcolor" sortable="uom" (sort)="onSort($event)">
                    UOM
                  </th>
                  <th
                    class="brandcolor"
                    sortable="poQty"
                    (sort)="onSort($event)"
                  >
                    PO Qty
                  </th>

                  <!-- <th>Actions</th> -->
                </tr>
              </thead>
              @for(table of tables$ | async;track $index){
              <tbody>
                <tr>
                  <td align="center">
                    <a class="expand-row" (click)="changeValue($index)">+</a>
                  </td>
                  <!-- Purchase Document Number -->
                  <td
                    (click)="openinbounddeleveryPopup(table.EBELN, $index)"
                    style="color: brown"
                  >
                    {{ table.EBELN }}
                  </td>
                  <!-- Item Number -->
                  <td>{{ table.EBELP }}</td>
                  <!-- Material -->
                  <td>{{ table.MATNR }}</td>
                  <!-- Material Description -->
                  <td>{{ table.MAKTX }}</td>
                  <!-- Vendor Code -->
                  <td>{{ table.LIFNR }}</td>
                  <!-- Vendor Name -->
                  <td>{{ table.NAME1 }}</td>
                  <!-- Purchase Group -->
                  <td>{{ table.EKGRP }}</td>
                  <!-- Plant -->
                  <td>{{ table.WERKS }}</td>
                  <!-- UOM-->
                  <td>{{ table.MEINS }}</td>
                  <!-- PO Quantity -->
                  <td>{{ table.MENGE }}</td>
                </tr>
                <ng-container *ngIf="!hideme[$index]">
                  <tr class="sub-table no-bg">
                    <td align="center"></td>
                    <td colspan="15" class="p-0">
                      <table class="table mb-0 table-striped">
                        <thead class="bg-dark text-white">
                          <tr>
                            <th>Document Date</th>
                            <th>Created by</th>
                            <th>Buyer</th>
                            <th>Purchasing Group Description</th>
                            <th>PO Value</th>
                            <th>Deletion Indicator</th>
                            <th>Delivery Completed</th>
                            <th>UOM</th>
                            <!-- <th>MIGO Qty</th>
                            <th>MIGO Value</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ table.BEDAT }}</td>
                            <!-- Document Date -->
                            <td>{{ table.ERNAM }}</td>
                            <!-- Created by -->
                            <td>{{ table.BUYER }}</td>
                            <!-- Buyer -->
                            <td>{{ table.EKNAM }}</td>
                            <!-- Purchasing Group Description -->
                            <td>{{ table.NETWR }}</td>
                            <!-- PO Value -->
                            <td>{{ table.LOEKZ }}</td>
                            <!-- Deletion Indicator -->
                            <td>{{ table.ELIKZ }}</td>
                            <!-- Delivery Completed -->
                            <td>{{ table.VRAME }}</td>
                            <!-- UOM -->
                            <!-- <td>{{ table.MENGE1 }}</td> -->
                            <!-- MIGO Qty -->
                            <!-- <td>{{ table.DMBTR1 }}</td> -->
                            <!-- MIGO Value -->
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
              }
            </table>
          </div>
          <!-- Pagination -->
          <div
            class="row justify-content-md-between align-items-md-center mt-2"
          >
            <div class="col-sm-12 col-md-5">
              <div
                class="dataTables_info mb-2"
                role="status"
                aria-live="polite"
              >
                Showing {{ service.startIndex }} to {{ service.endIndex }} of
                {{ service.totalRecords }} entries
              </div>
            </div>
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ul class="pagination justify-content-end mb-0">
                  <!-- Previous Button -->
                  <li
                    class="page-item"
                    [class.disabled]="service.page === 1"
                    (click)="service.changePage(service.page - 1)"
                  >
                    <a class="page-link" href="javascript:void(0)">Previous</a>
                  </li>

                  <!-- Current Page Display -->
                  <li class="page-item active">
                    <a class="page-link" href="javascript:void(0)">{{
                      service.page
                    }}</a>
                  </li>

                  <!-- Next Button -->
                  <li
                    class="page-item"
                    [class.disabled]="service.page === service.totalPages"
                    (click)="service.changePage(service.page + 1)"
                  >
                    <a class="page-link" href="javascript:void(0)">Next</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Pagination -->
        </div>
        <div>
          <div
            bsModal
            #newContactModal="bs-modal"
            class="modal fade"
            tabindex="-1"
            aria-labelledby="newContactModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="newContactModalLabel">
                    In-Bound Delivery
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    (click)="closePopup()"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                      <table
                        id="basic-datatable"
                        class="table table-bordered dt-responsive nowrap"
                      >
                        <thead>
                          <tr>
                            <th></th>
                            <th>DC.No</th>
                            <th>DC.Dt</th>
                            <th>Inv.No</th>
                            <th>Inv.Dt</th>
                            <th>Vehicle No</th>
                            <th>Transporter Name</th>
                            <th>Gate Entry No</th>
                            <th>Gate Entry Dt</th>
                            <th>LR Date</th>
                            <th>LR No</th>
                            <!-- <th sortable="deliveryQuantity" >
                                      Delivered Quantity
                                    </th> -->
                            <!--  <th sortable="packinglist" (sort)="onSort($event)">
                              Packing List
                            </th> -->
                          </tr>
                        </thead>
                        <!-- @for(table of tables$ | async;track $index){ -->
                        <!-- <form [formGroup]="tableForm" (ngSubmit)="submitForm()"> -->
                        <tbody>
                          <tr>
                            <td align="center">
                              <a class="expand-row">+</a>
                            </td>
                            <td>{{ deleveryChallanNumber }}</td>
                            <td>{{ DocumentDate }}</td>
                            <td>{{ invoiceNo }}</td>
                            <td>{{ invoiceDate }}</td>
                            <td>{{ vehicleNumber }}</td>
                            <td>{{ transporterName }}</td>
                            <td>{{ gateEntryNumber }}</td>
                            <td>{{ gateEntryDate }}</td>
                            <td>{{ lrDate }}</td>
                            <td>{{ LrNo }}</td>
                          </tr>
                          <tr class="sub-table no-bg">
                            <td align="center"></td>
                            <td colspan="10" class="p-0">
                              <table class="table mb-0 table-striped">
                                <thead class="bg-dark text-white">
                                  <tr>
                                    <th></th>
                                    <th>Plant</th>
                                    <th>S Loc</th>
                                    <th>PO Number</th>
                                    <th>PO Item</th>
                                    <th>Material Code</th>
                                    <th>Material Description</th>
                                    <th>HSN Code</th>
                                    <th>UoM</th>
                                    <th>DC Qty</th>
                                    <th>Recd Qty</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr
                                    *ngFor="
                                      let tablee of INBOUND;
                                      let i = index;
                                      trackBy: trackByFn
                                    "
                                  >
                                    <td>
                                      <button
                                        class="btn btn-danger btn-sm"
                                        (click)="removeRow(i)"
                                      >
                                        -
                                      </button>
                                    </td>
                                    <td>{{ table.WERKS }}</td>
                                    <td>{{ table.LGORT }}</td>
                                    <td>{{ table.PO_NUMBER }}</td>
                                    <td>{{ table.PO_ITEM }}</td>
                                    <td>{{ table.MATNR }}</td>
                                    <td>{{ table.TXZ01 }}</td>
                                    <td>{{ table.STEUC }}</td>
                                    <td>{{ table.MEINS }}</td>
                                    <td>{{ table.ORGQTY }}</td>
                                    <td>{{ table.RECD_QTY }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>

                          <!--                       
                                  @if(!hidemee){
                                  <tr class="sub-table no-bg">
                                    <td align="center"></td>
                                    <td colspan="9" class="p-0">
                                      <table class="table mb-0 table-striped">
                                        <thead class="bg-dark text-white">
                                          <tr>
                                              <th>Plant</th>
                                            <th>Storage Location</th>
                                          <th>Original DEL.Quantity</th>
                                          <th>Delivery Quantity</th>
                                            <th>Transporter Name</th>
                                            <th>Base Unit of Measure</th>
                                            <th>Purchasing Document Number</th>
                                            <th>Item Number of Purchasing Document</th>
                                           
                                            <th>Material Number</th>
                                            <th>Material Description</th>
                                          </tr>
                                        </thead>
                                        @for(tablee of INBOUND | async;track $index){
                                        <tbody>
                                          <tr>
                                              <td>{{tablee.WERKS}}</td>
                                            <td>{{ tablee.LGORT }}</td>
                                              <td>{{tablee.ORGQTY}}</td>
                                              <td><input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="tablee.DMENGE" class="form-control form-control-sm" /></td>
                                         
                                             
                                            <td>{{ tablee.transporterName }}</td>
                                            <td>{{ tablee.MEINS }}</td>
                                            <td>{{ tablee.PO_NUMBER }}</td>
                                            <td>{{ tablee.PO_ITEM }}</td>
                                     
                                            <td>{{tablee.MATNR}}</td>
                                            <td>{{tablee.SHORT_TEXT}}</td>
                      
                                       
                                          </tr>
                                        </tbody>
                                      }
                                      </table>
                                    </td>
                                  </tr>
                                  } -->
                        </tbody>
                        <!-- </form> -->
                        <!-- } -->
                      </table>
                    </div>
                    <!-- Save Button -->
                    <!-- <div class="col-md-4 text-left">
                      <button
                        class="btn btn-success mt-4"
                        type="button"
                        (click)="saveBound(INBOUND)"
                      >
                        Save
                      </button>
                    </div>               -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<!--<div id="elmLoader" class="text-center">
  <div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div> -->
