<div class="container-fluid">
    <app-page-title
     
      [breadcrumbItems]="breadCrumbItems"
    ></app-page-title>
    <div class="row">
<div class="col-xl-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        <span style="color: black">></span> In Bound Delivery
      </h4>
      <!-- <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
            validation–available in all our supported browsers.</p> -->
      <form
        class="needs-validation"
        (ngSubmit)="validSubmit()"
        [formGroup]="validationform"
      >
        <div class="row mt-4">
          <!-- Row 1 -->
          <div class="col-md-4">
            <div class="mb-3">
              <label
                class="brandcolor"
                class="brandcolor"
                for="inbounddeliverynumber"
                >PURCHASE ORDER NUMBER</label
              >
              <input
                type="text"
                class="form-control"
                id="inbounddeliverynumber"
                formControlName="inbounddeliverynumber"
                placeholder="Purchase Order Number"
                [ngClass]="{
                  'is-invalid': submit && form.inbounddeliverynumber.errors
                }"
              />
              <div
                *ngIf="submit && form.inbounddeliverynumber.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.inbounddeliverynumber.errors.required"
                  >Please provide a valid Purchase Order Number.</span
                >
              </div>
            </div>
          </div>

          <!-- <div class="row"> -->
          <!-- Button Row -->
          <div class="col-md-4 mt-4"></div>
          <div class="col-md-4 text-center">
            <button class="btn btn-success mt-4" type="submit">
              Get Details
            </button>
          </div>
          <div class="col-md-4"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- end card -->
  <div class="card">
    <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->
    <!-- <div class="card"> -->
    <div class="card-body">
      <!-- <div class="row mb-md-2">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length">
            <label class="d-inline-flex align-items-center">
              Show
              <select
                name="tickets-table_length"
                aria-controls="tickets-table"
                class="form-control form-control-sm mx-2"
                [(ngModel)]="service.pageSize"
              >
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select>
              entries
            </label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div id="tickets-table_filter" class="dataTables_filter text-md-end">
            <label class="d-inline-flex align-items-center">
              Search:
              <input
                type="text"
                name="searchTerm"
                class="form-control form-control-sm ms-2"
                aria-controls="tickets-table"
                [(ngModel)]="service.searchTerm"
              />
            </label>
          </div>
        </div>
      </div> -->
      <form [formGroup]="tableForm">

      <div class="table-responsive">
        <table
          id="basic-datatable"
          class="table table-bordered dt-responsive nowrap"
        >
          <thead>
            <tr>
              <th></th>
              <th sortable="gateEntryNumber" >
                Entry Gate Pass Number
              </th>
              <th sortable="vehicleNumber" >
                Vehicle Number
              </th>
              <th sortable="invoiceDate" >
                Invoice Date
              </th>
              <th sortable="invoiceDate" >
               Gate Entry Date
              </th>
              <th sortable="invoiceDate" >
                Document Date
              </th>

              <!-- <th sortable="deliveryQuantity" >
                Delivered Quantity
              </th> -->
              <th sortable="supplier" >
                Supplier/Vendor Code
              </th>
              <th sortable="plant" >Delevery Challan Number</th>
              <th sortable="packinglist" (sort)="onSort($event)">
                Packing List
              </th>
            </tr>
          </thead>
          <!-- @for(table of tables$ | async;track $index){ -->
          <!-- <form [formGroup]="tableForm" (ngSubmit)="submitForm()"> -->
          <tbody>
            <tr>
              <td align="center">
                <a class="expand-row" >+</a>
              </td>

              <td>
                <input
                  type="text"
                  formControlName="gateEntryNumber"
                  placeholder="Entry Gate Pass Number"
                  class="form-control form-control-sm"
                />
                <small
                  class="text-danger"
                  *ngIf="isFieldInvalid('gateEntryNumber')"
                  >Gate Entry Number is required and should contain only alphanumeric characters.</small
                >
              </td>
              <td>
                <input
                  type="text"
                  formControlName="vehicleNumber"
                  placeholder="Enter Vehicle Number"
                  class="form-control form-control-sm"
                />
                <small
                  class="text-danger"
                  *ngIf="isFieldInvalid('vehicleNumber')"
                  >Vehicle Number is required and should contain only valid characters.</small
                >
              </td>
              <td>
                <input
                  type="text"
                  formControlName="invoiceDate"
                  placeholder="Enter Invoice Date"
                  class="form-control form-control-sm"
                  [bsConfig]="bsConfig"
                bsDatepicker
                #datePicker="bsDatepicker"
                (focus)="datePicker.show()" 
                (blur)="datePicker.hide()" 
                />
                <small
                  class="text-danger"
                  *ngIf="isFieldInvalid('invoiceDate')"
                  >Gate Entry Date is required.</small
                >
              </td>
              <td>
                <input
                  type="text"
                  formControlName="gateEntryDate"
                  placeholder="Enter Gate Entry Date"
                  class="form-control form-control-sm"
                  [bsConfig]="bsConfig"
                bsDatepicker
                #datePicker="bsDatepicker"
                (focus)="datePicker.show()" 
                (blur)="datePicker.hide()" 
                />
                <small
                  class="text-danger"
                  *ngIf="isFieldInvalid('gateEntryDate')"
                  >Gate Entry Date is required.</small
                >
              </td>
              <td>
                <input
                  type="text"
                  formControlName="DocumentDate"
                  placeholder="Enter Document Date"
                  class="form-control form-control-sm"
                  [bsConfig]="bsConfig"
                bsDatepicker
                #datePicker="bsDatepicker"
                (focus)="datePicker.show()" 
                (blur)="datePicker.hide()" 
                />
                <small
                  class="text-danger"
                  *ngIf="isFieldInvalid('DocumentDate')"
                  >Document Date is required.</small
                >
              </td>
              <td>
                <input
                  type="text"
                  formControlName="supplier"
                  class="form-control form-control-sm"
                />
                <small
                  class="text-danger"
                  *ngIf="isFieldInvalid('supplier')"
                  >Supplier/Vendor Code is required.</small
                >
              </td>
              <td>
                <input
                  type="text"
                  formControlName="deleveryChallanNumber"
                  class="form-control form-control-sm"
                />
                <small
                  class="text-danger"
                  *ngIf="isFieldInvalid('deleveryChallanNumber')"
                  >Delevery Challan Number is required.</small
                >
              </td>
              <td>
                <input
                  type="text"
                  formControlName="PackingList"
                  class="form-control form-control-sm"
                />
              </td>
            </tr>

            @if(!hideme){
            <tr class="sub-table no-bg">
              <td align="center"></td>
              <td colspan="9" class="p-0">
                <table class="table mb-0 table-striped">
                  <thead class="bg-dark text-white">
                    <tr>
                        <th>Plant</th>
                      <th>Storage Location</th>
                    <th>Original DEL.Quantity</th>
                    <th>Delivery Quantity</th>
                      <th>Transporter Name</th>
                      <th>Base Unit of Measure</th>
                      <th>Purchasing Document Number</th>
                      <th>Item Number of Purchasing Document</th>
                      <!-- <th>Over & Under Tolarance</th> -->
                      <th>Material Number</th>
                      <th>Material Description</th>
                    </tr>
                  </thead>
                  @for(table of tables$ | async;track $index){
                  <tbody>
                    <tr>
                        <td>{{table.WERKS}}</td>
                      <td>{{ table.LGORT }}</td>
                        <td>{{table.ORGQTY}}</td>
                        <td><input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="table.DMENGE" class="form-control form-control-sm" /></td>
                        <!-- <td>{{table.DMENGE}}</td> -->
                       
                      <td>{{ table.transporterName }}</td>
                      <td>{{ table.MEINS }}</td>
                      <td>{{ table.PO_NUMBER }}</td>
                      <td>{{ table.PO_ITEM }}</td>
                      <!-- <td>{{table.tolerance}}</td> -->
                      <td>{{table.MATNR}}</td>
                      <td>{{table.SHORT_TEXT}}</td>

                      <!-- <td><input type="text" [(ngModel)]="table.storageLocation" class="form-control form-control-sm" /></td>
                                            <td><input type="text" [(ngModel)]="table.incoterms" class="form-control form-control-sm" /></td>
                                            <td><input type="text" [(ngModel)]="table.transportationGroup" class="form-control form-control-sm" /></td>
                                            <td><input type="text" [(ngModel)]="table.transporterName" class="form-control form-control-sm" /></td>
                 -->
                    </tr>
                  </tbody>
                }
                </table>
              </td>
            </tr>
            }
          </tbody>
          <!-- </form> -->
          <!-- } -->
        </table>
      </div>
      <div class="col-md-4 text-left">
        <button
          class="btn btn-success mt-4"
          type="button"
          (click)="saveBound(tables$)"
        >
          Save
        </button>
      </div>
      </form>
    </div>

    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
    </div>
</div>
