<div class="container-fluid">
  <!-- <app-page-title [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <span style="color: black"></span> In Bound Delivery
          </h4>
          <!-- <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
            validation–available in all our supported browsers.</p> -->
          <form
            class="needs-validation"
            (ngSubmit)="validSubmit()"
            [formGroup]="validationform"
          >
            <div class="row mt-4">
              <!-- Row 1 -->
              <div class="col-md-2">
                <div class="mb-3">
                  <label
                    class="brandcolor"
                    class="brandcolor"
                    for="inbounddeliverynumber"
                    >PO No</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inbounddeliverynumber"
                    formControlName="inbounddeliverynumber"
                    placeholder="Purchase Order Number"
                    [ngClass]="{
                      'is-invalid': submit && form.inbounddeliverynumber.errors
                    }"
                  />
                  <div
                    *ngIf="submit && form.inbounddeliverynumber.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.inbounddeliverynumber.errors.required"
                      >Please provide a valid Purchase Order Number.</span
                    >
                  </div>
                </div>
              </div>

              <!-- <div class="row"> -->
              <!-- Button Row -->
              <!-- <div class="col-md-4 mt-4"></div> -->
              <div class="col-md-2 text-center">
                <button
                  style="
                    background-color: brown;
                    margin-top: 28px;
                    width: max-content;
                    color: aliceblue;
                  "
                  class="btn"
                  type="submit"
                >
                  Get Details
                </button>
              </div>
              <div class="col-md-4 mt-4">
                <div class="mb-3">
                  <!-- <label class="brandcolor" class="brandcolor" for="vendorCode">Vendor Code</label> -->
                  <!-- <input type="text" class="form-control" id="vendorCode" [(ngModel)]="vendorCode"> -->
                </div>
              </div>
              <div class="col-md-4">
                <h5 *ngIf="vendorCodeDis">
                  <span class="brandcolor">Vendor Code</span> :
                  {{ vendorCodeDis }}
                </h5>
                <h5 *ngIf="vendorName">
                  <span class="brandcolor">Vendor Name</span> : {{ vendorName }}
                </h5>
                <h5 *ngIf="City">
                  <span class="brandcolor">City</span> : {{ City }}
                </h5>
                <h5 *ngIf="GSTIN">
                  <span class="brandcolor">GSTIN</span> : {{ GSTIN }}
                </h5>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end card -->
      <div class="card">
        <!-- <div class="row"> -->
        <!-- <div class="col-12"> -->
        <!-- <div class="card"> -->
        <div class="card-body">
          <!-- <div class="row mb-md-2">
          <div class="col-sm-12 col-md-6">
          <div class="dataTables_length">
            <label class="d-inline-flex align-items-center">
              Show
              <select
                name="tickets-table_length"
                aria-controls="tickets-table"
                class="form-control form-control-sm mx-2"
                [(ngModel)]="service.pageSize"
              >
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select>
              entries
            </label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div id="tickets-table_filter" class="dataTables_filter text-md-end">
            <label class="d-inline-flex align-items-center">
              Search:
              <input
                type="text"
                name="searchTerm"
                class="form-control form-control-sm ms-2"
                aria-controls="tickets-table"
                [(ngModel)]="service.searchTerm"
              />
            </label>
          </div>
        </div>
      </div> -->
          <form [formGroup]="tableForm">
            <div class="table-responsive">
              <table
                id="basic-datatable"
                class="table table-bordered dt-responsive nowrap"
              >
                <thead>
                  <tr>
                    <th></th>
                    <th sortable="deleveryChallanNumber">
                      DC.No <span style="color: red">*</span>
                    </th>
                    <th sortable="DocumentDate">
                     DC.Dt <span style="color: red">*</span>
                    </th>
                    <th sortable="invoiceNo">
                      Inv.No<span style="color: red">*</span>
                    </th>
                    <th sortable="invoiceDate">
                      Inv.Dt<span style="color: red">*</span>
                    </th>
                    <th sortable="vehicleNumber">
                      Vehicle No<span style="color: red">*</span>
                    </th>
                    <th sortable="transporterName">Transporter Name <span style="color: red">*</span></th>
                    <th sortable="gateEntryNumber">
                      Gate Entry No<span style="color: red">*</span>
                    </th>
                    <th sortable="gateEntryDate">
                      Gate Entry Dt<span style="color: red">*</span>
                    </th>
                    <th sortable="lrDate">LR Date</th>
                    <th sortable="lrNumber">LR No</th>
                  </tr>
                </thead>
                <!-- @for(table of tables$ | async;track $index){ -->
                <!-- <form [formGroup]="tableForm" (ngSubmit)="submitForm()"> -->
                <tbody>
                  <tr>
                    <td align="center">
                      <a class="expand-row">+</a>
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="deleveryChallanNumber"
                        maxLength="16"
                        pattern="^[a-zA-Z0-9/_]+$"
                        placeholder="Enter Delevery Challan Number"
                        class="form-control form-control-sm"
                      />
                      <small
                        class="text-danger"
                        *ngIf="isFieldInvalid('deleveryChallanNumber')"
                        >Delivery Challan Number is required and should not contain special characters.</small
                      >
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="DocumentDate"
                        placeholder="Enter Document Date"
                        class="form-control form-control-sm"
                        [bsConfig]="bsConfig"
                        bsDatepicker
                      />
                      <small
                        class="text-danger"
                        *ngIf="isFieldInvalid('DocumentDate')"
                        >Document Date is required.</small
                      >
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="invoiceNo"
                         maxLength="16"
                         pattern="^[a-zA-Z0-9/_]+$"
                        placeholder="Enter Invoice No"
                        class="form-control form-control-sm"
                      />
                      <small
                        class="text-danger"
                        *ngIf="isFieldInvalid('invoiceNo')"
                        >Invoice Number is required and should not contain special characters.</small
                      >
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="invoiceDate"
                        placeholder="Enter Invoice Date"
                        class="form-control form-control-sm"
                        [bsConfig]="bsConfig"
                        bsDatepicker
                      />
                      <small
                        class="text-danger"
                        *ngIf="isFieldInvalid('invoiceDate')"
                        >Invoice Date is required.</small
                      >
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="vehicleNumber"
                        maxLength="12"
                         pattern="^[a-zA-Z0-9/_]+$"
                        placeholder="Enter Vehicle Number"
                        class="form-control form-control-sm"
                      />
                      <small
                        class="text-danger"
                        *ngIf="isFieldInvalid('vehicleNumber')"
                        >Vehicle Number is required and should not contain special characters.</small
                      >
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="transporterName"
                        placeholder="Enter Transporter Name"
                        class="form-control form-control-sm"
                      />
                      <small
                        class="text-danger"
                        *ngIf="isFieldInvalid('transporterName')"
                        >Transporter Name is required.</small
                      >
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="gateEntryNumber"
                        maxLength="10"
                        pattern="^[a-zA-Z0-9/_]+$"
                        placeholder="Entry Gate Pass Number"
                        class="form-control form-control-sm"
                      />
                      <small
                        class="text-danger"
                        *ngIf="isFieldInvalid('gateEntryNumber')"
                        >Gate Entry Number is required and should not contain special characters.
                      </small>
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="gateEntryDate"
                        placeholder="Enter Gate Entry Date"
                        class="form-control form-control-sm"
                        [bsConfig]="bsConfig"
                        bsDatepicker
                      />
                      <small
                        class="text-danger"
                        *ngIf="isFieldInvalid('gateEntryDate')"
                        >Gate Entry Date is required.</small
                      >
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="LrDate"
                        placeholder="LR Date is required"
                        bsDatepicker
                        class="form-control form-control-sm"
                      />
                      <small
                        class="text-danger"
                        *ngIf="isFieldInvalid('LrDate')"
                        >LR Date is required
                      </small>
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="LrNo"
                        maxLength="15"
                        placeholder="LR Number"
                        class="form-control form-control-sm"
                      />
                      <small class="text-danger" *ngIf="isFieldInvalid('LrNo')"
                        >LR Number is required
                      </small>
                    </td>
                    <!-- <td>
                      <input type="text" formControlName="supplier" placeholder="Enter Supplier/Vendor Code"
                        class="form-control form-control-sm" />
                      <small class="text-danger" *ngIf="isFieldInvalid('supplier')">Supplier/Vendor Code is
                        required.</small>
                    </td> -->
                    <!-- <td>
                <input
                  type="text"
                  formControlName="PackingList"
                  class="form-control form-control-sm"
                />
              </td> -->
                  </tr>
                  @if(!hideme){
                  <tr class="sub-table no-bg">
                    <td align="center"></td>
                    <td colspan="10" class="p-0">
                      <table class="table mb-0 table-striped">
                        <thead class="bg-dark text-white">
                          <tr>
                            <th></th>
                            <th>Plant</th>
                            <th>S Loc</th>
                            <th>PO Number</th>
                            <th>PO Item</th>
                            <th>Material Code</th>
                            <th>Material Description</th>
                            <th>HSN Code</th>
                            <th>UoM</th>
                            <th>ORD Qty</th>
                            <th>Recd Qty</th>
                            <!-- <th>Over & Under Tolarance</th> -->
                            <!-- <th>Supplier/Vendor Code</th> -->
                          </tr>
                        </thead>
                        @for(table of tables$ | async;track $index){
                        <tbody>
                          <tr>
                            <td>
                              <button
                              type="button"
                              class="btn btn-danger btn-sm"
                              (click)="removeRow($index)"
                            >
                              -
                            </button>
                            
                            </td>
                            <td>{{ table.WERKS }}</td>
                            <td>{{ table.LGORT }}</td>
                            <td>{{ table.PO_NUMBER }}</td>
                            <td>{{ table.PO_ITEM }}</td>
                            <td>{{ table.MATNR }}</td>
                            <td>{{ table.SHORT_TEXT }}</td>
                            <td>{{ table.STEUC }}</td>
                            <td>{{ table.MEINS }}</td>
                            <td>{{ table.ORGQTY }}</td>
                            <td>
                              <input
                              type="text"
                              [ngModelOptions]="{ standalone: true }"
                              [(ngModel)]="table.DMENGE"
                              class="form-control form-control-sm"
                              (keydown.enter)="$event.preventDefault()"
                            />
                            </td>
                            <!-- <td>{{table.DMENGE}}</td> -->

                            <!-- <td>{{table.tolerance}}</td> -->

                            <!-- <td>{{table.supplier}}</td> -->

                            <!-- <td><input type="text" [(ngModel)]="table.storageLocation" class="form-control form-control-sm" /></td>
                                            <td><input type="text" [(ngModel)]="table.incoterms" class="form-control form-control-sm" /></td>
                                            <td><input type="text" [(ngModel)]="table.transportationGroup" class="form-control form-control-sm" /></td>
                                            <td><input type="text" [(ngModel)]="table.transporterName" class="form-control form-control-sm" /></td>
                        -->
                          </tr>
                        </tbody>
                        }
                      </table>
                    </td>
                  </tr>
                  }
                </tbody>
                <!-- </form> -->
                <!-- } -->
              </table>
            </div>
            <div class="col-md-4 text-left">
              <button
                style="
                  background-color: brown;
                  margin-top: 28px;
                  width: max-content;
                  color: aliceblue;
                "
                class="btn"
                type="submit"
                [disabled]="validationform.invalid || tableForm.invalid"
                (click)="saveBound(tables$)"
              >
                Save
              </button>
            </div>
          </form>
        </div>

        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
