<div class="container-fluid">
    <!-- <app-page-title [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
    <div class="row">
        <div class="col-xl-12">

            <!-- <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span style="color: black;"></span> Goods Return</h4>
     
             <form  class="needs-validation"
             [formGroup]="validationform"
             (ngSubmit)="validSubmit()">
             <div class="row mt-4">
      
                <div class="col-md-2">
                  <div class="mb-3">
                    <label class="brandcolor" for="inbounddeliverynumber"
                      >GRN No</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="inbounddeliverynumber"
                      class="form-control"
                      formControlName="inbounddeliverynumber"
                      placeholder="GRN Number"
                    />
                    <div
                      *ngIf="submit && form.inbounddeliverynumber.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="form.inbounddeliverynumber.errors.required">
                        Please provide a valid GRN Number.
                      </span>
                    </div>
                  </div>
                </div>
        
                <div class="col-md-1">
                  <div class="mb-3">
                    <label class="brandcolor" for="year"
                      >Year</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="year"
                      formControlName="year"
                      placeholder="Year"
                    />
                    <div
                      *ngIf="submit && form.year.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="form.year.errors.required">
                        Please provide a valid Year.
                      </span>
                    </div>
                  </div>
                </div>
          
                <div class="col-md-2 text-center">
                  <button
                    style="
                      background-color: brown;
                      margin-top: 28px;
                      width: max-content;
                      color: aliceblue;
                    "
                    class="btn"
                    type="submit"
                  >
                    Get Details
                  </button>
                </div>
              
                <div class="col-md-4">
                  <div class="info-row" *ngIf="materialDocument">
                    <span class="brandcolor fs-6">Mat.Doc No</span>
                    <span class="fs-6">: {{ materialDocument }}</span>
                  </div>
                  <div class="info-row" *ngIf="year">
                    <span class="brandcolor fs-6">Mat.Doc Year</span>
                    <span class="fs-6">: {{ year }}</span>
                  </div>
                  <div class="info-row" *ngIf="postingDate">
                    <span class="brandcolor fs-6">
                      Posting Date
                    </span>
                    <input
                    type="text"
                    class="form-control"
                    id="postingDate"
                    [bsConfig]="bsConfig"
                    bsDatepicker
                    formControlName="postingDate"
                    class="form-control fs-6"
                    placeholder="posting date"
                    [ngClass]="{
                      'is-invalid': submit && form.postingDate.errors
                    }"
                  />
                  </div>
                  <div class="info-row" *ngIf="documentDate">
                    <span class="brandcolor fs-6">Doc Date</span>
                    <span class="fs-6">: {{ documentDate | date: 'dd-MM-yyyy' }}</span>
                  </div>
                  <div class="info-row" *ngIf="dcNo">
                    <span class="brandcolor fs-6">Dc No</span>
                    <span class="fs-6">: {{ dcNo }}</span>
                  </div>
                  <div class="info-row" *ngIf="invoiceNum">
                    <span class="brandcolor fs-6">Invoice No</span>
                    <span class="fs-6">: {{ invoiceNum }}</span>
                  </div>
                  <div class="info-row" *ngIf="postingDate">
                    <span class="brandcolor fs-6">
                      Header Text <span style="color: red">*</span>
                    </span>
                    <input
                      formControlName="headerText"
                      class="form-control fs-6"
                      placeholder="Enter Credit Memo Doc No"
                    />
                    <div *ngIf="submit && validationform.get('headerText').invalid" class="invalid-feedback fs-6">
                      Please provide a valid Credit Memo Doc No.
                    </div>
                  </div>
                </div>
                
                
              </div>
             </form>         
                </div>
            </div> -->
            <div class="card">
              <div class="card-body">
                  <h4 class="card-title">
                      <span style="color: black;"></span> Goods Return
                  </h4>
                  <form class="needs-validation" [formGroup]="validationform" (ngSubmit)="validSubmit()">
                      <div class="row mt-4">
                          <!-- GRN Number -->
                          <div class="col-md-2">
                              <div class="mb-3">
                                  <label class="brandcolor" for="inbounddeliverynumber">GRN No</label>
                                  <input
                                      type="text"
                                      class="form-control"
                                      id="inbounddeliverynumber"
                                      formControlName="inbounddeliverynumber"
                                      placeholder="GRN Number"
                                  />
                                  <div
                                      *ngIf="submit && form.inbounddeliverynumber.errors"
                                      class="invalid-feedback"
                                  >
                                      <span *ngIf="form.inbounddeliverynumber.errors.required">
                                          Please provide a valid GRN Number.
                                      </span>
                                  </div>
                              </div>
                          </div>
                          <!-- Year -->
                          <div class="col-md-1">
                              <div class="mb-3">
                                  <label class="brandcolor" for="year">Year</label>
                                  <input
                                      type="text"
                                      class="form-control"
                                      id="year"
                                      formControlName="year"
                                      placeholder="Year"
                                  />
                                  <div *ngIf="submit && form.year.errors" class="invalid-feedback">
                                      <span *ngIf="form.year.errors.required">
                                          Please provide a valid Year.
                                      </span>
                                  </div>
                              </div>
                          </div>
                          <!-- Button -->
                          <div class="col-md-2 text-center">
                              <button
                                  style="
                                      background-color: brown;
                                      margin-top: 28px;
                                      width: max-content;
                                      color: aliceblue;
                                  "
                                  class="btn"
                                  type="submit"
                              >
                                  Get Details
                              </button>
                          </div>
                          <!-- Details -->
                          <div class="col-md-12">
                              <div class="row mt-4">
                                  <!-- First 4 Columns -->
                                  <div class="col-md-3">
                                      <div class="info-row" *ngIf="materialDocument">
                                          <span class="brandcolor fs-6">Mat.Doc No</span>
                                          <input
                                          type="text"
                                          class="form-control" 
                                        [(ngModel)]="materialDocument"  [ngModelOptions]="{ standalone: true }"
                                          class="form-control fs-6"
                                        readonly disabled
                                     
                                        />
                                          <!-- <span class="fs-6">: {{ materialDocument }}</span> -->
                                      </div>
                                      <div class="info-row" *ngIf="year">
                                          <span class="brandcolor fs-6">Mat.Doc Year</span>
                                          <input
                                          type="text"
                                          class="form-control"
                                        [(ngModel)]="year"  [ngModelOptions]="{ standalone: true }"
                                          class="form-control fs-6"
                                          readonly disabled
                                       
                                        />
                                          <!-- <span class="fs-6">: {{ year }}</span> -->
                                      </div>
                                  </div>
                                  <!-- Second 4 Columns -->
                                  <div class="col-md-3">
                                      <!-- <div class="info-row" *ngIf="postingDate">
                                          <span class="brandcolor fs-6">Posting Date</span>
                                          <span class="fs-6">: {{ postingDate }}</span>
                                      </div> -->
                                     
                                      <div class="info-row" *ngIf="documentDate">
                                          <span class="brandcolor fs-6">Doc Date</span>
                                          <input
                                          type="text"
                                          class="form-control" 
                                          bsDatepicker
                                          [bsConfig]="bsConfig"
                                        [(ngModel)]="documentDate"  [ngModelOptions]="{ standalone: true }"
                                          class="form-control fs-6"
                                          readonly disabled
                                     
                                        />
                                          <!-- <span class="fs-6">: {{ documentDate | date: 'dd-MM-yyyy' }}</span> -->
                                      </div>
                                      <div class="info-row" *ngIf="postingDate">
                                        <span class="brandcolor fs-6">
                                          Posting Date <span style="color: red">*</span>
                                        </span>
                                        <input
                                        type="text"
                                        class="form-control"
                                        id="postingDate"
                                        [bsConfig]="bsConfig"
                                        bsDatepicker
                                        formControlName="postingDate"
                                        class="form-control fs-6"
                                        placeholder="posting date"
                                        [ngClass]="{
                                          'is-invalid': submit && form.postingDate.errors
                                        }"
                                      />
                                      </div>
                                  </div>
                                  <!-- Third 4 Columns with Input Fields -->
                                  <div class="col-md-3">
                                      <div class="info-row" *ngIf="dcNo">
                                          <span class="brandcolor fs-6">Dc No</span>
                                          <input
                                        type="text"
                                        class="form-control"
                                      [(ngModel)]="dcNo"  [ngModelOptions]="{ standalone: true }"
                                        class="form-control fs-6"
                                        readonly disabled
                                   
                                      />
                                          <!-- <span class="fs-6">: {{ dcNo }}</span> -->
                                      </div>
                                      <div class="info-row" *ngIf="postingDate">
                                          <span class="brandcolor fs-6">Invoice No</span>
                                          <input
                                        type="text"
                                        class="form-control"
                                      [(ngModel)]="invoiceNum"  [ngModelOptions]="{ standalone: true }"
                                        class="form-control fs-6"
                                      readonly disabled
                                   
                                      />
                                          <!-- <span class="fs-6">: {{ invoiceNum }}</span> -->
                                      </div>
                                      <div class="info-row" *ngIf="postingDate">
                                          <span class="brandcolor fs-6">
                                              Header Text <span style="color: red">*</span>
                                          </span>
                                          <input
                                              formControlName="headerText"
                                              class="form-control fs-6"
                                              placeholder="Enter Credit Memo Doc No"
                                          />
                                          <div *ngIf="submit && validationform.get('headerText').invalid" class="invalid-feedback fs-6">
                                              Please provide a valid Credit Memo Doc No.
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          
            <!-- end card -->
            <div class="card">
              <div class="card-body">
                  <div class="row mb-md-2">
                      <div class="col-sm-12 col-md-6">
                          <div class="dataTables_length">
                              <label class="d-inline-flex align-items-center"> 
                                  Show
                                  <select name="tickets-table_length" aria-controls="tickets-table"
                                      class="form-control form-control-sm mx-2" [(ngModel)]="service.pageSize">
                                      <option [ngValue]="10">10</option>
                                      <option [ngValue]="25">25</option>
                                      <option [ngValue]="50">50</option>
                                      <option [ngValue]="100">100</option>
                                  </select>
                                  entries
                              </label>
                          </div>
                      </div>
                  </div>
                <!-- Table -->
                <div class="table-responsive">
                  <table
                    id="basic-datatable"
                    class="table table-bordered dt-responsive nowrap"
                  >
                    <thead class="brandcolor tableHeader">
                      <tr>
                        <th>
                          <input
                            type="checkbox"
                            [checked]="selectAll"
                            (change)="toggleSelectAll($event)"
                          />
                        </th>
                        <th sortable="MATNR" (sort)="onSort($event)">Mat.No</th>
                        <th sortable="LGORT" (sort)="onSort($event)">
                          SLoc
                        </th>
                        <th sortable="BWART" (sort)="onSort($event)">
                          MVT Type
                        </th>
                        <th sortable="WERKS" (sort)="onSort($event)">
                          Plant
                        </th>
                        <th sortable="EBELN" (sort)="onSort($event)">
                          PO No
                        </th>
                        <th sortable="EBELP" (sort)="onSort($event)">
                          PO Item
                        </th>
                        <th sortable="ZEILE" (sort)="onSort($event)">
                          Mat.Doc Item
                        </th>
                        <th sortable="MEINS" (sort)="onSort($event)">
                          BUoM
                        </th>
                        <th sortable="CHARG" (sort)="onSort($event)"> Batch</th>
                        <th sortable="LIFNR" (sort)="onSort($event)"> Vendor</th>
                        <th sortable="WEMPF" (sort)="onSort($event)"> Goods recipient </th>
                        <th sortable="MENGE" (sort)="onSort($event)"> Quantity</th>
                        <th sortable="RMENGE" (sort)="onSort($event)">
                          Return Quantity
                        </th>
                        <th sortable="REASON" (sort)="onSort($event)">Reason for MVT 
                          <span style="color: red">*</span>
                        </th>
                        <th sortable="INSMK" (sort)="onSort($event)"> Stock Type 
                          <span style="color: red">*</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let table of tables$ | async; let i = index">
                      <tr>
                        <td>
                          <input
                            type="checkbox"
                            [(ngModel)]="table.selected"
                            (change)="onRowCheckboxChange(table)"
                          />
                        </td>
                        <td>{{ table.MATNR }}</td>
                        <!-- Material Number -->
                        <td>{{ table.LGORT }}</td>
                        <!-- Storage Location-->
                        <td>{{ table.BWART }}</td>
                        <!-- Movement Type -->
                        <td>{{ table.WERKS }}</td>
                        <!-- Plant-->
                        <td>{{ table.EBELN }}</td>
                        <!-- Purchasing Document Number-->
                        <td>{{ table.EBELP }}</td>
                        <!-- Item Number of Purchasing Document-->
                        <td>{{ table.ZEILE }}</td>
                        <!-- Item in Material Document-->
                        <td>{{ table.MEINS }}</td>
                        <!-- Base Unit of Measure-->
                        <td>{{ table.CHARG }}</td>
                        <!-- Batch Number-->
                        <td>{{ table.LIFNR }}</td>
                        <!-- Supplier's Account Number-->
                        <td>{{ table.WEMPF }}</td>
                        <!-- Goods recipient-->  
                        <td>{{ table.MENGE }}</td>
                        <!-- Quantity-->
                         <td><input type="text" [(ngModel)]="table.RMENGE" [disabled]="!table.selected" class="form-control form-control-sm" (input)="returnqty(table, i )"></td>
                        <!-- Return Quantity-->
                        <td>
                          <select [(ngModel)]="table.REASON"
                                  [disabled]="!table.selected"
                                  class="form-select form-select-sm">
                            <option *ngFor="let reason of reasons" [value]="reason.id">
                              {{ reason.text }}
                            </option>
                          </select>
                        </td>
                        <!-- Reason for Movement -->
                        <!-- <td>{{ table.INSMK }}</td> -->
                        <td>
                          <select [(ngModel)]="table.INSMK"
                                  [disabled]="!table.selected"
                                  class="form-select form-select-sm">
                            <option *ngFor="let stock of stockTypes" [value]="stock.id">
                              {{ stock.text }}
                            </option>
                          </select>
                        </td>
                         <!-- Stock Type-->
                    
                        
                        <!-- <td>{{ table.REASON }}</td> -->
                        


                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Save Button -->
                <div class="col-md-4 text-left">
                  <button
                    style="
                      background-color: brown;
                      margin-top: 28px;
                      width: max-content;
                      color: aliceblue;
                    "
                    class="btn"
                    type="submit"
                    [disabled]="!(isAllFieldsValid() | async)"
                    (click)="saveBound()"
                  >
                    Return
                  </button>
                </div>
              </div>
            </div>
          <!--Pagination-->
      <div class="row justify-content-md-between align-items-md-center mt-2">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info mb-2" role="status" aria-live="polite">
            Showing {{ service.startIndex }} to {{ service.endIndex }} of
            {{ service.totalRecords }} entries
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="text-md-right float-md-end pagination-rounded">
            <ul class="pagination justify-content-end mb-0">
              <!-- Previous Button -->
              <li
                class="page-item"
                [class.disabled]="service.page === 1"
                (click)="service.changePage(service.page - 1)"
              >
                <a class="page-link" href="javascript:void(0)">Previous</a>
              </li>
              <!-- Current Page Display -->
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">{{
                  service.page
                }}</a>
              </li>
              <!-- Next Button -->
              <li
                class="page-item"
                [class.disabled]="service.page === service.totalPages"
                (click)="service.changePage(service.page + 1)"
              >
                <a class="page-link" href="javascript:void(0)">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
        <!-- End Pagination-->
      </div>
    </div>
  </div>