<div class="container-fluid">
    <!-- <app-page-title [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
    <div class="row">
        <div class="col-xl-12">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span style="color: black;"></span> Goods Returns</h4>
                    <!-- <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
            validation–available in all our supported browsers.</p> -->
             <form  class="needs-validation"
             (ngSubmit)="validSubmit()">
             <div class="row mt-4">
                <!-- Row 1 -->
                <div class="col-md-2">
                  <div class="mb-3">
                    <label class="brandcolor" for="inbounddeliverynumber"
                      >GRN No</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="inbounddeliverynumber"
                      formControlName="inbounddeliverynumber"
                      placeholder="InBound Delivery Number"
                   
                    />
                    <div
                      *ngIf="submit && form.inbounddeliverynumber.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="form.inbounddeliverynumber.errors.required">
                        Please provide a valid Inbound Order Number.
                      </span>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-2 text-center">
                  <button
                    style="
                      background-color: brown;
                      margin-top: 28px;
                      width: max-content;
                      color: aliceblue;
                    "
                    class="btn"
                    type="submit"
                  >
                    Get Details
                  </button>
                </div>
              </div>

             </form>           

                </div>
            </div>
            <!-- end card -->
            <div class="card">
                <!-- <div class="row"> -->
                <!-- <div class="col-12"> -->
                <!-- <div class="card"> -->
             

          


            </div>
        </div>
    </div>
</div>