<div class="col-xl-12">
  <div class="card" style="background-color: beige">
    <div class="card-body">
      <h4 class="card-title">
        <span style="color: black"></span>
        IBD Done GR Pending
      </h4>
      <!-- <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
            validation–available in all our supported browsers.</p> -->
      <form class="needs-validation" [formGroup]="validationform">
        <div class="row">
          <!-- Row 1 -->
          <!-- Plant -->
          <div class="col-md-1">
            <label class="brandcolor" for="plant">PLANT</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="plant"
                formControlName="plant"
                placeholder="Plant"
                [ngClass]="{ 'is-invalid': submit && form.plant.errors }"
              />
              <div *ngIf="submit && form.plant.errors" class="invalid-feedback">
                <span *ngIf="form.plant.errors.required"
                  >Please provide a valid plant.</span
                >
              </div>
            </div>
          </div>
          <!-- Delivery -->
          <div class="col-md-2">
            <label class="brandcolor" for="delivery">DELIVERY</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="delivery"
                formControlName="delivery"
                placeholder="Delivery"
                [ngClass]="{ 'is-invalid': submit && form.delivery.errors }"
              />
              <div
                *ngIf="!submit && form.delivery.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.delivery.errors.required"
                  >Please provide a valid delivery.</span
                >
              </div>
            </div>
          </div>

          <!-- <div class="col-md-2">
            <label class="brandcolor" for="storageLocation"
              >STORAGE LOCATION</label
            >
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="storageLocation"
                formControlName="storageLocation"
                placeholder="Storage Location"
                [bsConfig]="bsConfig"
                [ngClass]="{
                  'is-invalid': submit && form.storageLocation.errors
                }"
          
              />
              <div
                *ngIf="submit && form.storageLocation.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.storageLocation.errors.required"
                  >Please provide a valid STORAGE LOCATION.</span
                >
              </div>
            </div>
          </div> -->
          <!-- <div class="col-md-2">
            <label class="brandcolor" for="ibdCreadtedOn">CREATED ON</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="ibdCreadtedOn"
                formControlName="ibdCreadtedOn"
                [bsConfig]="bsConfig"
                bsDatepicker
                #datePicker="bsDatepicker"
                (focus)="datePicker.show()"
                (blur)="datePicker.hide()"
                placeholder="IBD CREATED ON"
                [ngClass]="{
                  'is-invalid': submit && form.ibdCreadtedOn.errors
                }"
              />
              <div
                *ngIf="submit && form.ibdCreadtedOn.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.ibdCreadtedOn.errors.required"
                  >Please provide a valid IBD CREATED ON.</span
                >
              </div>
            </div>
          </div> -->
          <div class="col-md-2">
            <label class="brandcolor" for="fromDate">FROM DATE</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="fromDate"
                formControlName="fromDate"
                [bsConfig]="bsConfig"
                bsDatepicker
                placeholder="IBD CREATED From DATE"
                [ngClass]="{
                  'is-invalid': submit && form.fromDate.errors
                }"
              />
              <div
                *ngIf="submit && form.fromDate.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.fromDate.errors.required"
                  >Please provide a valid FROM DATE.</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label class="brandcolor" for="toDate">TO DATE</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="toDate"
                formControlName="toDate"
                [bsConfig]="bsConfig"
                bsDatepicker
                placeholder="IBD CREATED To"
                [ngClass]="{
                  'is-invalid': submit && form.toDate.errors
                }"
              />
              <div
                *ngIf="submit && form.toDate.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.toDate.errors.required"
                  >Please provide a valid TO DATE.</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-1 mt-4">
            <div class="mb-3">
              <button
                style="
                  margin-top: 8px;
                  background-color: brown;
                  width: max-content;
                  color: aliceblue;
                "
                class="btn"
                type="submit"
                (click)="getGrPending()"
              >
                Get Details
              </button>
            </div>
          </div>

          <!--row 2-->
          <!--IBD CREATED ON-->
        </div>
        <!-- <div class="row mt-4">
        
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <button
              class="btn btn-success"
              type="submit"
              (click)="getGrPending()"
            >
              Get Details
            </button>
          </div>
          <div class="col-md-4"></div>
        </div> -->
      </form>
    </div>
  </div>
  <!-- end card -->
  <div class="card">
    <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->
    <!-- <div class="card"> -->
    <div *ngIf="grnscreen" class="card-body">
      <div class="row mb-md-2">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length">
            <label class="d-inline-flex align-items-center">
              Show
              <select
                name="tickets-table_length"
                aria-controls="tickets-table"
                class="form-control form-control-sm mx-2"
                [(ngModel)]="service.pageSize"
              >
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select>
              entries
            </label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div id="tickets-table_filter" class="dataTables_filter text-md-end">
            <label class="d-inline-flex align-items-center">
              Search:
              <input
                type="text"
                name="searchTerm"
                class="form-control form-control-sm ms-2"
                aria-controls="tickets-table"
                [(ngModel)]="service.searchTerm"
              />
            </label>
          </div>
        </div>
      </div>
      <!-- Table -->
      <div class="table-responsive">
        <table
          id="basic-datatable"
          class="table table-bordered dt-responsive nowrap"
        >
          <thead class="brandcolor tableHeader">
            <tr>
              <th></th>
              <th class="brandcolor" sortable="WERKS" (sort)="onSort($event)">
                Plant
              </th>
              <th class="brandcolor" sortable="VBELN" (sort)="onSort($event)">
                Inbound Delivery
              </th>
              <th class="brandcolor" sortable="POSNR" (sort)="onSort($event)">
                Inbound Delivery Item
              </th>
              <!-- <th
                class="brandcolor"
                sortable="EKGRP"
                (sort)="onSort($event)"
              >
                Purchasing Group
              </th> -->
              <th class="brandcolor" sortable="ERDAT" (sort)="onSort($event)">
                Inbound Created on
              </th>
              <th class="brandcolor" sortable="VGBEL" (sort)="onSort($event)">
                PO
              </th>
              <th class="brandcolor" sortable="VGPOS" (sort)="onSort($event)">
                PO Item
              </th>
              <th class="brandcolor" sortable="LGORT" (sort)="onSort($event)">
                Storage Location
              </th>
              <th class="brandcolor" sortable="MATNR" (sort)="onSort($event)">
                Material
              </th>
              <th class="brandcolor" sortable="MAKTX" (sort)="onSort($event)">
                Material Description
              </th>
              <th class="brandcolor" sortable="MEINS" (sort)="onSort($event)">
                UOM
              </th>
              <th class="brandcolor" sortable="LFIMG" (sort)="onSort($event)">
                Qty
              </th>
              <th
                class="brandcolor"
                sortable="GATEENTRY"
                (sort)="onSort($event)"
              >
                Gate Entry No
              </th>
              <th
                class="brandcolor"
                sortable="GATEDATE"
                (sort)="onSort($event)"
              >
                Gate Entry Date
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let table of tables$ | async; let i = index">
            <tr>
              <td align="center">
                <a class="expand-row" (click)="changeValue(i)">+</a>
              </td>
              <td>{{ table.WERKS }}</td>
              <!-- Plant -->
              <!-- <td
                (click)="onSelectInBound(table.VBELN)"
                style="
                  cursor: pointer;
                  text-decoration: underline;
                  color: brown;
                "
              >
                {{ table.VBELN }}
              </td> -->
              <td>{{ table.VBELN }}</td>
              <!-- Inbound Delivery -->
              <td>{{ table.POSNR }}</td>
              <!-- Inbound Delivery Item -->
              <!-- <td>{{ table.EKGRP }}</td> -->
              <!-- Purchasing Group -->
              <td>{{ table.ERDAT }}</td>
              <!-- Inbound Created on -->
              <td>{{ table.VGBEL }}</td>
              <!-- PO -->
              <td>{{ table.VGPOS }}</td>
              <!-- PO Item -->
              <td>{{ table.LGORT }}</td>
              <!-- Storage Location -->
              <td>{{ table.MATNR }}</td>
              <!-- Material -->
              <td>{{ table.MAKTX }}</td>
              <!-- Material Desc -->
              <td>{{ table.MEINS }}</td>
              <!-- UOM -->
              <td>{{ table.LFIMG }}</td>
              <!-- Qty -->
              <td>{{ table.GATEENTRY }}</td>
              <!-- Gate Entry No -->
              <td>{{ table.GATEDATE }}</td>
              <!-- Gate Entry Date -->
            </tr>
            <ng-container *ngIf="!hideme[i]">
              <tr class="sub-table no-bg">
                <td align="center"></td>
                <td colspan="15" class="p-0">
                  <table class="table mb-0 table-striped">
                    <thead class="bg-dark text-white">
                      <tr>
                        <!--  <th>Material Doc</th> -->
                        <th>Posting Date</th>
                        <!--  <th>Days Taken for GR</th> -->
                        <!-- <th>MIRO No</th>
                        <th>MIRO Date</th>
                        <th>Invoice No</th>
                        <th>Invoice Date</th> -->
                        <th>PO Date</th>
                        <th>Created by</th>
                        <th>Storage Location Name</th>
                        <!-- <th>Days taken for IBD</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!--  <td>{{ table.MBLNR }}</td> -->
                        <!-- Material Doc -->
                        <td>{{ table.BUDAT }}</td>
                        <!-- Posting Date -->
                        <!--  <td>{{ table.AGE }}</td> -->
                        <!-- Days Taken for GR -->
                        <!-- <td>{{ table.BELNR_MIRO }}</td> -->
                        <!-- MIRO No -->
                        <!-- <td>{{ table.BUDAT_MIRO }}</td> -->
                        <!-- MIRO Date -->
                        <!-- <td>{{ table.XBLNR }}</td> -->
                        <!-- Invoice No -->
                        <!-- <td>{{ table.BLDAT }}</td> -->
                        <!-- Invoice Date -->
                        <td>{{ table.AEDAT }}</td>
                        <!-- PO Date -->
                        <td>{{ table.ERNAM }}</td>
                        <!-- Created by -->
                        <td>{{ table.LGOBE }}</td>
                        <!-- Storage Location Name -->
                        <!--  <td>{{ table.AGE1 }}</td> -->
                        <!-- Days taken for IBD -->
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="row justify-content-md-between align-items-md-center mt-2">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info mb-2" role="status" aria-live="polite">
            Showing {{ service.startIndex }} to {{ service.endIndex }} of
            {{ service.totalRecords }} entries
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="text-md-right float-md-end pagination-rounded">
            <ul class="pagination justify-content-end mb-0">
              <!-- Previous Button -->
              <li
                class="page-item"
                [class.disabled]="service.page === 1"
                (click)="service.changePage(service.page - 1)"
              >
                <a class="page-link" href="javascript:void(0)">Previous</a>
              </li>

              <!-- Current Page Display -->
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">{{
                  service.page
                }}</a>
              </li>

              <!-- Next Button -->
              <li
                class="page-item"
                [class.disabled]="service.page === service.totalPages"
                (click)="service.changePage(service.page + 1)"
              >
                <a class="page-link" href="javascript:void(0)">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedInBound" class="mt-4">
      <button
        class="btn btn-primary"
        style="float: left; margin-left: 10px"
        type="button"
        (click)="back()"
      >
        Back</button
      ><br /><br />
      <h5>
        Item Quantity: Detailed Items for Material
        {{ selectedInBound.inbound }}
      </h5>

      <!-- Table for Inbound -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Material Number</th>
            <th>Plant</th>
            <th>Storage Location</th>
            <th>Movement Type</th>
            <th>Batch</th>
            <th>Posting Date</th>
            <th>Quantity</th>
            <th>UOM</th>
            <th>Purchase Order</th>
            <th>PO Item</th>
            <th>Split</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of inBound; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ items.MATNR }}</td>
            <td>{{ items.WERKS }}</td>
            <td>{{ items.LGORT }}</td>
            <td>{{ items.BWART }}</td>
            <td>{{ items.Batch }}</td>
            <td>
              <input
                type="text"
                [bsConfig]="bsConfig"
                bsDatepicker
                [(ngModel)]="PostingDate"
                class="form-control form-control-sm"
              />
            </td>
            <td>{{ items.MENGE }}</td>
            <td>{{ items.MEINS }}</td>
            <td>{{ items.EBELN }}</td>
            <td>{{ items.EBELP }}</td>
            <td class="d-flex align-items-center">
              <input
                type="number"
                min="1"
                [(ngModel)]="items.splitCount"
                placeholder="Rows"
                class="form-control form-control-sm me-2"
                style="width: 80px"
              />
              <button
                (click)="splitRows(i, items.splitCount)"
                class="btn btn-sm btn-primary"
              >
                Split
              </button>
            </td>
          </tr>
          <!-- Shadow rows -->
          <tr *ngFor="let shadow of inBoundshadow">
            <td></td>
            <td>{{ shadow.MATNR }}</td>
            <td>{{ shadow.WERKS }}</td>
            <td>
              <input
                type="text"
                [(ngModel)]="shadow.LGORT"
                class="form-control form-control-sm"
              />
            </td>
            <td>{{ shadow.BWART }}</td>
            <td>
              <input
                type="text"
                [(ngModel)]="shadow.Batch"
                class="form-control form-control-sm"
              />
            </td>
            <td>{{ PostingDate | date : "dd/MM/yyyy" }}</td>
            <td>
              <input
                type="text"
                [(ngModel)]="shadow.MENGE"
                class="form-control form-control-sm"
              />
            </td>
            <td>{{ shadow.MEINS }}</td>
            <td>{{ shadow.EBELN }}</td>
            <td>{{ shadow.EBELP }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <div class="col-md-4 text-left">
        <button
          class="btn btn-success mt-4"
          type="button"
          (click)="saveBound(inBoundshadow)"
        >
          Save
        </button>
      </div>

      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
