
.vertical-menu i {
  color: brown !important; /* Default brown color for dropdown icons */
}

.vertical-menu li:hover i,
.vertical-menu li.mm-active i {
  color: white !important; /* Change to white on hover or active */
}


.vertical-menu .active {
    background-color: #454754; 
    color: #303773;       
    font-weight: bold;        
    border-left: 4px solid #7e56b6; 
  }
  

  .vertical-menu .active:hover {
    background-color: #454754; 
    color: #303773;
  }
  // .bx-bar-chart:before {
  //   font-family: "Boxicons"; /* or the appropriate font-family */
  //   content: "\e98a";
  //   font-size: 16px;
  //   color: #7a0808;
  // }