<div class="col-xl-12">
    <div class="card" style="background-color: beige">
      <div class="card-body">
        <h4 class="card-title">
          <span style="color: black"></span>
          MB52
        </h4>
        <form class="needs-validation" [formGroup]="validationform">
            <!-- Row 1 -->
          <div class="row">
            <!-- Plant -->
            <div class="col-md-1">
              <label class="brandcolor" for="plant">PLANT</label>
              <div class="mb-3">
                <select
                    class="form-select"
                    id="plant"
                    formControlName="plant"
                  >
                    <option value="" disabled selected>Plant</option>
                    <option *ngFor="let type of plants" [value]="type">
                      {{ type }}
                    </option>
                  </select>
                <div *ngIf="submit && form.plant.errors" class="invalid-feedback">
                  <span *ngIf="form.plant.errors.required"
                    >Please provide a valid plant.</span
                  >
                </div>
              </div>
            </div>
            <!-- STORAGE LOCATION -->
            <div class="col-md-2">
              <label class="brandcolor" for="storageLocation">STORAGE LOCATION</label>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="storageLocation"
                  formControlName="storageLocation"
                  placeholder="Storage location"
                  [ngClass]="{
                    'is-invalid': submit && form.storageLocation.errors
                  }"
                />
                <div
                  *ngIf="submit && form.storageLocation.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.storageLocation.errors.required"
                    >Please provide a valid POSTING DATE TO.</span
                  >
                </div>
              </div>
            </div>
            <!-- Material Type -->
            <div class="col-md-2">
              <label class="brandcolor" for="materialType">MATERIAL TYPE</label>
              <div class="mb-3">
                <select
                    class="form-select"
                    id="materialType"
                    formControlName="materialType"
                  >
                    <option value="" disabled selected>Mat.type</option>
                    <option *ngFor="let typee of mattypes" [value]="typee">
                      {{ typee }}
                    </option>
                  </select>
                <div *ngIf="submit && form.materialType.errors" class="invalid-feedback">
                  <span *ngIf="form.materialType.errors.required"
                    >Please provide a valid material Type.</span
                  >
                </div>
              </div>
              <!-- <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="materialType"
                  formControlName="materialType"
                  placeholder="Material Type"
                  [ngClass]="{
                    'is-invalid': submit && form.materialType.errors
                  }"
                />
                <div
                  *ngIf="submit && form.materialType.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.materialType.errors.required"
                    >Please provide a valid POSTING DATE TO.</span
                  >
                </div>
              </div> -->
            </div>
             <!-- Material From -->
             <!-- <div class="col-md-2">
                <div class="mb-3">
                  <label class="brandcolor" for="materialFrom">MATERIAL FROM</label>
                  <input
                    type="text"
                    class="form-control"
                    id="materialFrom"
                    formControlName="materialFrom"
                    placeholder="Material From"
                    [ngClass]="{ 'is-invalid': submit && form.materialFrom.errors }"
                  />
                  <div
                    *ngIf="submit && form.materialFrom.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.materialFrom.errors.required"
                      >Please provide a valid Material From.</span
                    >
                  </div>
                </div>
              </div> -->
              <!-- Material To -->
             <!-- <div class="col-md-2">
              <div class="mb-3">
                <label class="brandcolor" for="materialTo">MATERIAL TO</label>
                <input
                  type="text"
                  class="form-control"
                  id="materialTo"
                  formControlName="materialTo"
                  placeholder="material to"
                  [ngClass]="{ 'is-invalid': submit && form.materialTo.errors }"
                />
                <div
                  *ngIf="submit && form.materialTo.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.materialTo.errors.required"
                    >Please provide a valid materialTo.</span
                  >
                </div>
              </div>
            </div> -->
            <!-- BATCH -->
            <!-- <div class="col-md-2">
              <label class="brandcolor" for="batch">BATCH</label>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="batch"
                  formControlName="batch"
                  placeholder="Batch"
                  [ngClass]="{
                    'is-invalid': submit && form.batch.errors
                  }"
                />
                <div
                  *ngIf="submit && form.batch.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.batch.errors.required"
                    >Please provide a valid POSTING DATE TO.</span
                  >
                </div>
              </div>
            </div> -->
            <!-- Button -->
            <div class="col-md-1 mt-4">
              <div class="ms-4 mb-3">
                <button
                  style="
                    margin-top: 8px;
                    background-color: brown;
                    width: max-content;
                    color: aliceblue;
                  "
                  class="btn"
                  type="submit"
                  (click)="getmb52()"
                >
                  Get Details
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- end card -->
    <div class="card">
      <div class="card-body">
        <div class="row mb-md-2">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_length">
              <label class="d-inline-flex align-items-center">
                Show
                <select
                  name="tickets-table_length"
                  aria-controls="tickets-table"
                  class="form-control form-control-sm mx-2"
                  [(ngModel)]="service.pageSize"
                >
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                entries
              </label>
            </div>
          </div>
          <!-- Export Button-->
        <div class="col-sm-12 col-md-6">
          <div class="text-md-end">
            <button
              class="btn btn-warning ms-2"
              [disabled]="(tables$ | async)?.length === 0"
              (click)="exportToExcel()"
            >
              Export
            </button>
          </div>
        </div>
        </div>
        <!-- Table -->
        <div class="table-responsive">
          <table
            id="basic-datatable"
            class="table table-bordered dt-responsive nowrap"
          >
            <thead class="brandcolor tableHeader">
              <tr>
                <th></th>
                <th class="brandcolor" sortable="WERKS" (sort)="onSort($event)">
                  Plant
                </th>
                <th class="brandcolor" sortable="LGORT" (sort)="onSort($event)">
                  S.Loc
                </th>
                <th class="brandcolor" sortable="LGOBE" (sort)="onSort($event)">
                  SL Desc
                </th>
                <th class="brandcolor" sortable="MATNR" (sort)="onSort($event)">
                    Mat.No
                  </th>
                  <th class="brandcolor" sortable="MAKTX" (sort)="onSort($event)">
                    Mat Desc
                  </th>
                <th class="brandcolor" sortable="MEINS" (sort)="onSort($event)">
                  Base Unit of Measure
                </th>
                
                <th
                  class="brandcolor"
                  sortable="LABST"
                  (sort)="onSort($event)"
                >
                Unrestricted Stock Quantity
                </th>
                <th
                  class="brandcolor"
                  sortable="WLABS"
                  (sort)="onSort($event)"
                >
                Unrestricted Stock Value
                </th>
              </tr>
            </thead>
            <tbody *ngFor="let table of tables$ | async; let i = index">
              <tr>
                <td align="center">
                  <a class="expand-row" (click)="changeValue(i)">+</a>
                </td>
                <td>{{ table.WERKS }}</td>
                <!-- Plant -->
                <td>{{ table.LGORT }}</td>
                <!-- Storage Location -->
                <td>{{ table.LGOBE }}</td>
                <!-- SL Desc -->
                <td>{{ table.MATNR }}</td>
                <!-- Material -->
                <td>{{ table.MAKTX }}</td>
                <!-- Material Desc -->
                <td>{{ table.MEINS }}</td>
                <!-- Base Unit of Measure -->
                <td>{{ table.LABST }}</td>
                <!-- Unrestricted Stock Quantity -->
                <td>{{ table.WLABS }}</td>
                <!-- Unrestricted Stock Value -->
              </tr>
              <ng-container *ngIf="!hideme[i]">
                <tr class="sub-table no-bg">
                  <td align="center"></td>
                  <td colspan="15" class="p-0">
                    <table class="table mb-0 table-striped">
                      <thead class="bg-dark text-white">
                        <tr>
                          <th>Quality Inspection Stock Quantity</th>
                          <th>Quality Inspection Stock Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ table.INSME }}</td>
                          <!-- Quality Inspection Stock Quantity -->
                          <td>{{ table.WINSM }}</td>
                          <!-- Quality Inspection Stock Value -->
                          
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <!-- Pagination -->
        <div class="row justify-content-md-between align-items-md-center mt-2">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info mb-2" role="status" aria-live="polite">
              Showing {{ service.startIndex }} to {{ service.endIndex }} of
              {{ service.totalRecords }} entries
            </div>
          </div>
          <div class="col-sm-12 col-md-5">
            <div class="text-md-right float-md-end pagination-rounded">
              <ul class="pagination justify-content-end mb-0">
                <!-- Previous Button -->
                <li
                  class="page-item"
                  [class.disabled]="service.page === 1"
                  (click)="service.changePage(service.page - 1)"
                >
                  <a class="page-link" href="javascript:void(0)">Previous</a>
                </li>
  
                <!-- Current Page Display -->
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">{{
                    service.page
                  }}</a>
                </li>
  
                <!-- Next Button -->
                <li
                  class="page-item"
                  [class.disabled]="service.page === service.totalPages"
                  (click)="service.changePage(service.page + 1)"
                >
                  <a class="page-link" href="javascript:void(0)">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End of Pagination -->
      </div>
    </div>
  </div>
  