<div class="col-xl-12">
  <div class="card" style="background-color: beige">
    <div class="card-body">
      <h4 class="card-title">
        <span style="color: black"></span>
        MB51
      </h4>
      <form class="needs-validation" [formGroup]="validationform">
        <div class="row">
          <!-- Row 1 -->
          <!-- Plant -->
          <div class="col-md-1">
            <label class="brandcolor" for="plant">PLANT</label>
            <div class="mb-3">
              <select
                  class="form-select"
                  id="plant"
                  formControlName="plant"
                >
                  <option value="" disabled selected>Plant</option>
                  <option *ngFor="let type of plants" [value]="type">
                    {{ type }}
                  </option>
                </select>
              <div *ngIf="submit && form.plant.errors" class="invalid-feedback">
                <span *ngIf="form.plant.errors.required"
                  >Please provide a valid plant.</span
                >
              </div>
            </div>
          </div>
          <!-- Movement Type -->
          <div class="col-md-2">
            <label class="brandcolor" for="movementType">MOVEMENT TYPE</label>
            <div class="mb-3">
              <select
                class="form-select"
                id="movementType"
                formControlName="movementType"
              >
                <option value="" disabled selected>Select Movement Type</option>
                <option *ngFor="let type of movementTypes" [value]="type">
                  {{ type }}
                </option>
              </select>
              <div *ngIf="submit && form.movementType.errors" class="invalid-feedback">
                <span *ngIf="form.movementType.errors.required"
                  >Please select a valid Movement Type.</span
                >
              </div>
            </div>
          </div>
          <!-- Posting Date From -->
          <div class="col-md-2">
            <label class="brandcolor" for="postingDateFrom"
              >Posting Date From</label
            >
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="postingDateFrom"
                formControlName="postingDateFrom"
                [bsConfig]="bsConfig"
                bsDatepicker
                placeholder="POSTING DATE FROM"
                [ngClass]="{
                  'is-invalid': submit && form.postingDateFrom.errors
                }"
              />
              <div
                *ngIf="submit && form.postingDateFrom.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.postingDateFrom.errors.required"
                  >Please provide a valid POSTING DATE FROM.</span
                >
              </div>
            </div>
          </div>
          <!-- Posting Date To -->
          <div class="col-md-2">
            <label class="brandcolor" for="postingDateTo">TO DATE</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="postingDateTo"
                formControlName="postingDateTo"
                [bsConfig]="bsConfig"
                bsDatepicker
                placeholder="POSTING DATE TO"
                [ngClass]="{
                  'is-invalid': submit && form.postingDateTo.errors
                }"
              />
              <div
                *ngIf="submit && form.postingDateTo.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.postingDateTo.errors.required"
                  >Please provide a valid POSTING DATE TO.</span
                >
              </div>
            </div>
          </div>
          <!-- Button -->
          <div class="col-md-1 mt-4">
            <div class="ms-4 mb-3">
              <button
                style="
                  margin-top: 8px;
                  background-color: brown;
                  width: max-content;
                  color: aliceblue;
                "
                class="btn"
                type="submit"
                (click)="getmb51()"
              >
                Get Details
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end card -->
  <div class="card">
    <div class="card-body">
      <div class="row mb-md-2">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length">
            <label class="d-inline-flex align-items-center">
              Show
              <select
                name="tickets-table_length"
                aria-controls="tickets-table"
                class="form-control form-control-sm mx-2"
                [(ngModel)]="service.pageSize"
              >
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select>
              entries
            </label>
          </div>
        </div>
        <!-- Export Button-->
        <div class="col-sm-12 col-md-6">
          <div class="text-md-end">
            <button
              class="btn btn-warning ms-2"
              [disabled]="(tables$ | async)?.length === 0"
              (click)="exportToExcel()"
            >
              Export
            </button>
          </div>
        </div>
      </div>
      <!-- Table -->
      <div class="table-responsive">
        <table
          id="basic-datatable"
          class="table table-bordered dt-responsive nowrap"
        >
          <thead class="brandcolor tableHeader">
            <tr>
              <th></th>
              <th class="brandcolor" sortable="PLANT" (sort)="onSort($event)">
                Plant
              </th>
              <th class="brandcolor" sortable="STG_LOC" (sort)="onSort($event)">
                S.Loc
              </th>
              <th class="brandcolor" sortable="MATERIAL" (sort)="onSort($event)">
                Material
              </th>
              <th class="brandcolor" sortable="MAT_DES" (sort)="onSort($event)">
                Material Description
              </th>
              <th class="brandcolor" sortable="MVT_TYPE" (sort)="onSort($event)">
                Mvt Type
              </th>
              <th
                class="brandcolor"
                sortable="MVT_TYPE_TXT"
                (sort)="onSort($event)"
              >
                Mvt Type Txt
              </th>
              <th class="brandcolor" sortable="POSTING_DATE" (sort)="onSort($event)">
                Posting Date
              </th>
              
              <th
                class="brandcolor"
                sortable="PRICE"
                (sort)="onSort($event)"
              >
                Price
              </th>
              <th
                class="brandcolor"
                sortable="L_CUR_AMT"
                (sort)="onSort($event)"
              >
                Amt in loc.cur
              </th>
              <th class="brandcolor" sortable="MAT_DOC" (sort)="onSort($event)">
                Mat Doc
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let table of tables$ | async; let i = index">
            <tr>
              <td align="center">
                <a class="expand-row" (click)="changeValue(i)">+</a>
              </td>
              <td>{{ table.PLANT }}</td>
              <!-- Plant -->
              <td>{{ table.STG_LOC }}</td>
              <!-- Storage Location -->
              <td>{{ table.MATERIAL }}</td>
              <!-- Material -->
              <td>{{ table.MAT_DES }}</td>
              <!-- Material Desc -->
              <td>{{ table.MVT_TYPE }}</td>
              <!-- Movement Type -->
              <td>{{ table.MVT_TYPE_TXT }}</td>
              <!-- Movement Type Text -->
              <td>{{ table.POSTING_DATE }}</td>
              <!-- Posting Date -->
              <td>{{ table.PRICE }}</td>
              <!-- Qty in unit of entry -->
              <td>{{ table.L_CUR_AMT }}</td>
              <!-- Amt in loc.cur -->
              <td>{{ table.MAT_DOC }}</td>
              <!-- Material Doc -->
            </tr>
            <ng-container *ngIf="!hideme[i]">
              <tr class="sub-table no-bg">
                <td align="center"></td>
                <td colspan="15" class="p-0">
                  <table class="table mb-0 table-striped">
                    <thead class="bg-dark text-white">
                      <tr>
                        <th>Purchase Order</th>
                        <th>Doc Date</th>
                        <th>Qty</th>
                        <th>Supplier</th>
                        <th>Order</th>
                        <th>GL account</th>
                        <th>Doc Header Text</th>
                        <th>Entry Date</th>
                        <th>Batch</th>
                        <th>Consumption</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ table.PUR_ORDER }}</td>
                        <!-- Purchase Order -->
                        <td>{{ table.DOC_DATE }}</td>
                        <!-- Doc Date -->
                        <td>{{ table.QUANITY }}</td>
                        <!-- Qty -->
                        <td>{{ table.SUPPLIER }}</td>
                        <!-- Supplier -->
                        <td>{{ table.ORDER }}</td>
                        <!-- Order -->
                        <td>{{ table.GL_ACCOUNT }}</td>
                        <!-- gl account-->
                         <td>{{ table.DOC_HEADER_TXT }}</td>
                        <!-- Doc Header Text-->
                         <td>{{ table.ENTRY_DATE }}</td>
                        <!-- Entry Date-->
                         <td>{{ table.BATCH }}</td>
                        <!-- Batch-->
                         <td>{{ table.CONSUMPTION }}</td>
                        <!-- Consumption-->
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <div class="row justify-content-md-between align-items-md-center mt-2">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info mb-2" role="status" aria-live="polite">
            Showing {{ service.startIndex }} to {{ service.endIndex }} of
            {{ service.totalRecords }} entries
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="text-md-right float-md-end pagination-rounded">
            <ul class="pagination justify-content-end mb-0">
              <!-- Previous Button -->
              <li
                class="page-item"
                [class.disabled]="service.page === 1"
                (click)="service.changePage(service.page - 1)"
              >
                <a class="page-link" href="javascript:void(0)">Previous</a>
              </li>

              <!-- Current Page Display -->
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">{{
                  service.page
                }}</a>
              </li>

              <!-- Next Button -->
              <li
                class="page-item"
                [class.disabled]="service.page === service.totalPages"
                (click)="service.changePage(service.page + 1)"
              >
                <a class="page-link" href="javascript:void(0)">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End of Pagination -->
    </div>
  </div>
</div>
