<div class="col-xl-12">
  <div class="card" style="background-color: beige">
    <div class="card-body">
      <h4 class="card-title">
        <span style="color: black"></span>
        IBD Done GR Done
      </h4>
      <!-- <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
              validation–available in all our supported browsers.</p> -->
      <form
        class="needs-validation"
        (ngSubmit)="validSubmit()"
        [formGroup]="validationform"
      >
        <div class="row">
          <!-- Row 1 -->
          <!-- Plant -->
          <div class="col-md-1">
            <label class="brandcolor" for="plant">PLANT</label>
            <div class="mb-3">
              <select
                  class="form-select"
                  id="plant"
                  formControlName="plant"
                >
                  <option value="" disabled selected>Plant</option>
                  <option *ngFor="let type of plants" [value]="type">
                    {{ type }}
                  </option>
                </select>
              <div *ngIf="submit && form.plant.errors" class="invalid-feedback">
                <span *ngIf="form.plant.errors.required"
                  >Please provide a valid plant.</span
                >
              </div>
            </div>
          </div>
          <!-- Delivery -->
          <!-- <div class="col-md-2">
            <label class="brandcolor" for="deliveryfrom">DELIVERY</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="delivery"
                formControlName="delivery"
                placeholder="Delivery"
                [bsConfig]="bsConfig"
                [ngClass]="{ 'is-invalid': submit && form.delivery.errors }"
                bsDatepicker
              />
              <div
                *ngIf="!submit && form.delivery.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.delivery.errors.required"
                  >Please provide a valid delivery.</span
                >
              </div>
            </div>
          </div>  -->
          <!-- Storage Location -->
          <!--  <div class="col-md-2">
                  <label class="brandcolor" for="storageLocation"
                      >STORAGE LOCATION</label
                    >
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="storageLocation"
                      formControlName="storageLocation"
                      placeholder="Storage Location"
                      [bsConfig]="bsConfig"
                      [ngClass]="{
                        'is-invalid': submit && form.storageLocation.errors
                      }"
                      bsDatepicker
                    />
                    <div
                      *ngIf="submit && form.storageLocation.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="form.storageLocation.errors.required"
                        >Please provide a valid STORAGE LOCATION.</span
                      >
                    </div>
                  </div>
                </div> -->
          <!--Ibd Created On-->
          <!-- <div class="col-md-2">
                  <label class="brandcolor" for="ibdCreadtedOn"
                      >IBD CREATED ON</label
                    >
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="ibdCreadtedOn"
                      formControlName="ibdCreadtedOn"
                      [bsConfig]="bsConfig"
                      bsDatepicker
                      #datePicker="bsDatepicker"
                      (focus)="datePicker.show()" 
                      (blur)="datePicker.hide()" 
                      placeholder="IBD CREATED ON"
                      [ngClass]="{
                        'is-invalid': submit && form.ibdCreadtedOn.errors
                      }"
                    />
                    <div
                      *ngIf="submit && form.ibdCreadtedOn.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="form.ibdCreadtedOn.errors.required"
                        >Please provide a valid IBD CREATED ON.</span
                      >
                    </div>
                  </div>
                </div> -->
          <!-- From Date -->
          <div class="col-md-2">
            <label class="brandcolor" for="fromDate">FROM DATE</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="fromDate"
                [bsConfig]="bsConfig"
                bsDatepicker
                formControlName="fromDate"
                placeholder="IBD CREATED From DATE"
                [ngClass]="{
                  'is-invalid': submit && form.fromDate.errors
                }"
              />
              <div
                *ngIf="submit && form.fromDate.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.fromDate.errors.required"
                  >Please provide a valid IBD CREATED FROM DATE.</span
                >
              </div>
            </div>
          </div>
          <!-- To Date -->
          <div class="col-md-2">
            <label class="brandcolor" for="toDate">TO DATE</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="toDate"
                [bsConfig]="bsConfig"
                bsDatepicker
                formControlName="toDate"
                placeholder="IBD CREATED To"
                [ngClass]="{
                  'is-invalid': submit && form.toDate.errors
                }"
              />
              <div
                *ngIf="submit && form.toDate.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.toDate.errors.required"
                  >Please provide a valid IBD CREATED ON.</span
                >
              </div>
            </div>
          </div>
          <!-- Button -->
          <div class="col-md-1 mt-4">
            <div class="mb-3">
              <button
                style="
                  margin-top: 8px;
                  background-color: brown;
                  width: max-content;
                  color: aliceblue;
                "
                class="btn"
                (click)="getGrDone()"
              >
                Get Details
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end card -->
  <div class="card">
    <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->
    <!-- <div class="card"> -->
    <div class="card-body">
      <div class="row mb-md-2">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length">
            <label class="d-inline-flex align-items-center">
              Show
              <select
                name="tickets-table_length"
                aria-controls="tickets-table"
                class="form-control form-control-sm mx-2"
                [(ngModel)]="service.pageSize"
              >
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select>
              entries
            </label>
          </div>
        </div>
        <!-- Export Button-->
        <div class="col-sm-12 col-md-6">
          <div class="text-md-end">
            <button
              class="btn btn-warning ms-2"
              [disabled]="(tables$ | async)?.length === 0"
              (click)="exportToExcel()"
            >
              Export
            </button>
          </div>
        </div>
      </div>
      <!-- Table -->
      <div class="table-responsive">
        <table
          id="basic-datatable"
          class="table table-bordered dt-responsive nowrap"
        >
          <thead class="brandcolor tableHeader">
            <tr>
              <th></th>
              <th class="brandcolor" sortable="WERKS" (sort)="onSort($event)">
                Plant
              </th>
              <th class="brandcolor" sortable="VBELN" (sort)="onSort($event)">
                Inbound Delivery
              </th>
              <th class="brandcolor" sortable="POSNR" (sort)="onSort($event)">
                Inbound Delivery Item
              </th>
              <!-- <th
                class="brandcolor"
                sortable="EKGRP"
                (sort)="onSort($event)"
              >
                Purchasing Group
              </th> -->
              <th class="brandcolor" sortable="ERDAT" (sort)="onSort($event)">
                Inbound Created on
              </th>
              <th class="brandcolor" sortable="MBLNR" (sort)="onSort($event)">
                Material Doc
              </th>
              <th class="brandcolor" sortable="BUDAT" (sort)="onSort($event)">
                Posting Date
              </th>
              <th class="brandcolor" sortable="AGE" (sort)="onSort($event)">
                Days Taken for GR
              </th>
              <th class="brandcolor" sortable="VGBEL" (sort)="onSort($event)">
                PO
              </th>
              <th class="brandcolor" sortable="VGPOS" (sort)="onSort($event)">
                PO Item
              </th>
              <th class="brandcolor" sortable="AEDAT" (sort)="onSort($event)">
                PO Date
              </th>
              <th class="brandcolor" sortable="ERNAM" (sort)="onSort($event)">
                Created By
              </th>
              <th class="brandcolor" sortable="LGORT" (sort)="onSort($event)">
                S.Loc
              </th>
              <th class="brandcolor" sortable="LGOBE" (sort)="onSort($event)">
                S.Loc Name
              </th>
              <!-- <th class="brandcolor" sortable="MATNR" (sort)="onSort($event)">
                Material
              </th>
              <th class="brandcolor" sortable="MAKTX" (sort)="onSort($event)">
                Material Description
              </th>
              <th class="brandcolor" sortable="MEINS" (sort)="onSort($event)">
                UOM
              </th>
              <th class="brandcolor" sortable="qty" (sort)="onSort($event)">
                Qty
              </th>
              <th class="brandcolor" sortable="LFIMG" (sort)="onSort($event)">
                Gate Entry No
              </th>
              <th
                class="brandcolor" sortable="gateEntryDate" (sort)="onSort($event)">
                Gate Entry Date
              </th>
              <th
                class="brandcolor" sortable="AGE1" (sort)="onSort($event)">
                Days taken for IBD
              </th> -->
            </tr>
          </thead>
          <tbody *ngFor="let table of tables$ | async; let i = index">
            <tr>
              <td align="center">
                <a class="expand-row" (click)="changeValue(i)">+</a>
              </td>
              <td>{{ table.WERKS }}</td>
              <!-- Plant -->
              <td>{{ table.VBELN }}</td>
              <!-- Inbound Delivery -->
              <td>{{ table.POSNR }}</td>
              <!-- Inbound Delivery Item -->
              <!-- <td>{{ table.EKGRP }}</td> -->
              <!-- Purchasing Group -->
              <td>{{ table.ERDAT| date: 'dd-MM-yyyy'  }}</td>
              <!-- Inbound Created on -->
              <td>{{ table.MBLNR }}</td>
              <!-- Material Doc -->
              <td>{{ table.BUDAT | date: 'dd-MM-yyyy'  }}</td>
              <!-- Posting Date -->
              <td>{{ table.AGE }}</td>
              <!-- Days Taken for GR -->
              <td>{{ table.VGBEL }}</td>
              <!-- PO -->
              <td>{{ table.VGPOS }}</td>
              <!-- PO Item -->
              <td>{{ table.AEDAT | date: 'dd-MM-yyyy'  }}</td>
                <!-- PO Date -->
              <td>{{ table.ERNAM }}</td>
              <!-- Created By -->
             <td>{{ table.LGORT }}</td>
              <!-- Storage Location -->
              <td>{{ table.LGOBE }}</td>
              <!-- Storage Location Name -->
               
              <!-- <td>{{ table.MATNR }}</td> -->
              <!-- Material -->
              <!-- <td>{{ table.MAKTX }}</td> -->
              <!-- Material Desc -->
              <!-- <td>{{ table.MEINS }}</td> -->
              <!-- UOM -->
              <!-- <td>{{ table.LFIMG }}</td> -->
              <!-- Qty -->
              <!-- <td>{{ table.GATEENTRY }}</td> -->
              <!-- Gate Entry No -->
              <!-- <td>{{ table.GATEDATE | date: 'dd-MM-yyyy'  }}</td> -->
              <!-- Gate Entry Date -->
                <!-- <td>{{ table.AGE1 }}</td> -->
              <!-- Days taken for IBD -->
            </tr>
            <ng-container *ngIf="!hideme[i]">
              <tr class="sub-table no-bg">
                <td align="center"></td>
                <td colspan="15" class="p-0">
                  <table class="table mb-0 table-striped">
                    <thead class="bg-dark text-white">
                      <tr>
                        <th>Material</th>
                        <th>Material Description</th>
                        <th>UOM</th>
                        <th>Qty</th>
                        <th>Gate Entry No</th>
                        <th>Gate Entry Date</th>
                        <th>Days taken for IBD</th>
                        <!-- <th>Material Doc</th>
                        <th>Posting Date</th>
                        <th>Days Taken for GR</th>
                        <th>MIRO No</th>
                        <th>MIRO Date</th>
                        <th>Invoice No</th>
                        <th>Invoice Date</th>
                        <th>PO Date</th>
                        <th>Created by</th>
                        <th>Storage Location Name</th> -->
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ table.MATNR }}</td>
                        <!-- Material -->
                        <td>{{ table.MAKTX }}</td>
                        <!-- Material Description -->
                        <td>{{ table.MEINS }}</td>
                        <!-- UOM -->
                        <td>{{ table.LFIMG }}</td>
                        <!-- Qty -->
                        <td>{{ table.GATEENTRY }}</td>
                        <!-- Gate Entry No -->
                        <td>{{ table.GATEDATE | date: 'dd-MM-yyyy'  }}</td>
                        <!-- Gate Entry Date -->
                        <td>{{ table.AGE1 }}</td>
                        <!-- Days taken for IBD -->
                        <!-- <td>{{ table.MBLNR }}</td> -->
                        <!-- Material Doc -->
                        <!-- <td>{{ table.AGE }}</td> -->
                        <!-- Days Taken for GR -->
                        <!-- <td>{{ table.MBLNR }}</td> -->
                        <!-- Material Doc -->
                        <!-- <td>{{ table.BUDAT | date: 'dd-MM-yyyy'  }}</td> -->
                        <!-- Posting Date -->
                        <!-- <td>{{ table.AGE }}</td> -->
                        <!-- Days Taken for GR -->
                        <!-- <td>{{ table.BELNR_MIRO }}</td> -->
                        <!-- MIRO No -->
                        <!-- <td>{{ table.BUDAT_MIRO }}</td> -->
                        <!-- MIRO Date -->
                        <!-- <td>{{ table.XBLNR }}</td> -->
                        <!-- Invoice No -->
                        <!-- <td>{{ table.BLDAT }}</td> -->
                        <!-- Invoice Date -->
                        <!-- <td>{{ table.AEDAT | date: 'dd-MM-yyyy'  }}</td> -->
                        <!-- PO Date -->
                        <!-- <td>{{ table.ERNAM }}</td> -->
                        <!-- Created by -->
                        
                        
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <!--Pagination-->
      <div class="row justify-content-md-between align-items-md-center mt-2">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info mb-2" role="status" aria-live="polite">
            Showing {{ service.startIndex }} to {{ service.endIndex }} of
            {{ service.totalRecords }} entries
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="text-md-right float-md-end pagination-rounded">
            <ul class="pagination justify-content-end mb-0">
              <!-- Previous Button -->
              <li
                class="page-item"
                [class.disabled]="service.page === 1"
                (click)="service.changePage(service.page - 1)"
              >
                <a class="page-link" href="javascript:void(0)">Previous</a>
              </li>

              <!-- Current Page Display -->
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">{{
                  service.page
                }}</a>
              </li>

              <!-- Next Button -->
              <li
                class="page-item"
                [class.disabled]="service.page === service.totalPages"
                (click)="service.changePage(service.page + 1)"
              >
                <a class="page-link" href="javascript:void(0)">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Pagination-->
    </div>

    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
