<div class="col-xl-12">
  <div class="card" style="background-color: beige">
    <div class="card-body">
      <h4 class="card-title">
        <span style="color: black"></span>
        IBD Done GR Done
      </h4>
      <!-- <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
              validation–available in all our supported browsers.</p> -->
      <form
        class="needs-validation"
        (ngSubmit)="validSubmit()"
        [formGroup]="validationform"
      >
        <div class="row">
          <!-- Row 1 -->
          <!-- Plant -->
          <div class="col-md-3">
            <label class="brandcolor" for="plant">PLANT</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="plant"
                formControlName="plant"
                placeholder="Plant"
                [ngClass]="{ 'is-invalid': submit && form.plant.errors }"
              />
              <div *ngIf="submit && form.plant.errors" class="invalid-feedback">
                <span *ngIf="form.plant.errors.required"
                  >Please provide a valid plant.</span
                >
              </div>
            </div>
          </div>
          <!-- Delivery -->
          <div class="col-md-3">
            <label class="brandcolor" for="deliveryfrom">DELIVERY FROM</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="deliveryfrom"
                formControlName="deliveryfrom"
                placeholder="Delivery From"
                [bsConfig]="bsConfig"
                [ngClass]="{ 'is-invalid': submit && form.delivery.errors }"
                bsDatepicker
              />
              <div
                *ngIf="!submit && form.deliveryfrom.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.deliveryfrom.errors.required"
                  >Please provide a valid delivery.</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label class="brandcolor" for="deliveryto">DELIVERY TO</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="deliveryto"
                formControlName="delivery"
                placeholder="Delivery To"
                [bsConfig]="bsConfig"
                [ngClass]="{ 'is-invalid': submit && form.delivery.errors }"
                bsDatepicker
              />
              <div
                *ngIf="!submit && form.deliveryto.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.deliveryto.errors.required"
                  >Please provide a valid delivery.</span
                >
              </div>
            </div>
          </div>
          <!-- Storage Location -->
          <div class="col-md-3">
            <label class="brandcolor" for="storageLocationfrom"
              >STORAGE LOCATION FROM</label
            >
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="storageLocationfrom"
                formControlName="storageLocationfrom"
                placeholder="Storage Location From"
                [bsConfig]="bsConfig"
                [ngClass]="{
                  'is-invalid': submit && form.storageLocationfrom.errors
                }"
                bsDatepicker
              />
              <div
                *ngIf="submit && form.storageLocationfrom.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.storageLocationfrom.errors.required"
                  >Please provide a valid STORAGE LOCATION.</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label class="brandcolor" for="storageLocationfrom"
              >STORAGE LOCATION TO</label
            >
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="storageLocationto"
                formControlName="storageLocationto"
                placeholder="Storage Location To"
                [bsConfig]="bsConfig"
                [ngClass]="{
                  'is-invalid': submit && form.storageLocationto.errors
                }"
                bsDatepicker
              />
              <div
                *ngIf="submit && form.storageLocationto.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.storageLocationto.errors.required"
                  >Please provide a valid STORAGE LOCATION.</span
                >
              </div>
            </div>
          </div>
          <!--row 2-->
          <!--IBD CREATED ON-->
          <div class="col-md-3">
            <label class="brandcolor" for="ibdCreadtedOn">IBD CREATED ON</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="ibdCreadtedOn"
                formControlName="ibdCreadtedOn"
                placeholder="IBD CREATED ON"
                [ngClass]="{
                  'is-invalid': submit && form.ibdCreadtedOn.errors
                }"
              />
              <div
                *ngIf="submit && form.ibdCreadtedOn.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.ibdCreadtedOn.errors.required"
                  >Please provide a valid IBD CREATED ON.</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label class="brandcolor" for="ibdCreadtedTo">IBD CREATED TO</label>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="ibdCreadtedTo"
                formControlName="ibdCreadtedTo"
                placeholder="IBD CREATED To"
                [ngClass]="{
                  'is-invalid': submit && form.ibdCreadtedOn.errors
                }"
              />
              <div
                *ngIf="submit && form.ibdCreadtedTo.errors"
                class="invalid-feedback"
              >
                <span *ngIf="form.ibdCreadtedTo.errors.required"
                  >Please provide a valid IBD CREATED ON.</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <!-- Button Row -->
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <button class="btn btn-success" type="submit" (click)="getGrDone()">
              Get Details
            </button>
          </div>
          <div class="col-md-4"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- end card -->
  <div class="card">
    <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->
    <!-- <div class="card"> -->
    <div class="card-body">
      <div class="row mb-md-2">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length">
            <label class="d-inline-flex align-items-center">
              Show
              <select
                name="tickets-table_length"
                aria-controls="tickets-table"
                class="form-control form-control-sm mx-2"
                [(ngModel)]="service.pageSize"
              >
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select>
              entries
            </label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div id="tickets-table_filter" class="dataTables_filter text-md-end">
            <label class="d-inline-flex align-items-center">
              Search:
              <input
                type="text"
                name="searchTerm"
                class="form-control form-control-sm ms-2"
                aria-controls="tickets-table"
                [(ngModel)]="service.searchTerm"
              />
            </label>
          </div>
        </div>
      </div>
      <!-- Table -->
      <div class="table-responsive">
        <table
          id="basic-datatable"
          class="table table-bordered dt-responsive nowrap"
        >
          <thead class="brandcolor tableHeader">
            <tr>
              <th></th>
              <th class="brandcolor" sortable="plant" (sort)="onSort($event)">
                Plant
              </th>
              <th
                class="brandcolor"
                sortable="inboundDelivery"
                (sort)="onSort($event)"
              >
                Inbound Delivery
              </th>
              <th
                class="brandcolor"
                sortable="inboundDeliveryItem"
                (sort)="onSort($event)"
              >
                Inbound Delivery Item
              </th>
              <th
                class="brandcolor"
                sortable="purchasingGroup"
                (sort)="onSort($event)"
              >
                Purchasing Group
              </th>
              <th
                class="brandcolor"
                sortable="inboundCreatedOn"
                (sort)="onSort($event)"
              >
                Inbound Created on
              </th>
              <th
                class="brandcolor"
                sortable="materialDocument"
                (sort)="onSort($event)"
              >
                Material Doc
              </th>
              <th
                class="brandcolor"
                sortable="postingDate"
                (sort)="onSort($event)"
              >
                Posting Date
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let table of tables$ | async; let i = index">
            <tr>
              <td align="center">
                <a class="expand-row" (click)="changeValue(i)">+</a>
              </td>
              <td>{{ table.WERKS }}</td>
              <!-- Plant -->
              <td>{{ table.VBELN }}</td>
              <!-- Inbound Delivery -->
              <td>{{ table.POSNR }}</td>
              <!-- Inbound Delivery Item -->
              <td>{{ table.EKGRP }}</td>
              <!-- Purchasing Group -->
              <td>{{ table.ERDAT }}</td>
              <!-- Inbound Created on -->
              <td>{{ table.MBLNR }}</td>
              <!-- Material Doc -->
              <td>{{ table.BUDAT }}</td>
              <!-- Posting Date -->
            </tr>
            <ng-container *ngIf="!hideme[i]">
              <tr class="sub-table no-bg">
                <td align="center"></td>
                <td colspan="15" class="p-0">
                  <table class="table mb-0 table-striped">
                    <thead class="bg-dark text-white">
                      <tr>
                        <th>Days Taken for GR</th>
                        <th>MIRO No</th>
                        <th>MIRO Date</th>
                        <th>Invoice No</th>
                        <th>Invoice Date</th>
                        <th>PO</th>
                        <th>PO Item</th>
                        <th>PO Date</th>
                        <th>Created by</th>
                        <th>Storage Location</th>
                        <th>Storage Location Name</th>
                        <th>Material</th>
                        <th>Material Desc</th>
                        <th>UOM</th>
                        <th>Qty</th>
                        <th>Gate Entry No</th>
                        <th>Gate Entry Date</th>
                        <th>Days taken for IBD</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ table.AGE }}</td>
                        <!-- Days Taken for GR -->
                        <td>{{ table.BELNR_MIRO }}</td>
                        <!-- MIRO No -->
                        <td>{{ table.BUDAT_MIRO }}</td>
                        <!-- MIRO Date -->
                        <td>{{ table.XBLNR }}</td>
                        <!-- Invoice No -->
                        <td>{{ table.BLDAT }}</td>
                        <!-- Invoice Date -->
                        <td>{{ table.VGBEL }}</td>
                        <!-- PO -->
                        <td>{{ table.VGPOS }}</td>
                        <!-- PO Item -->
                        <td>{{ table.AEDAT }}</td>
                        <!-- PO Date -->
                        <td>{{ table.ERNAM }}</td>
                        <!-- Created by -->
                        <td>{{ table.LGORT }}</td>
                        <!-- Storage Location -->
                        <td>{{ table.LGOBE }}</td>
                        <!-- Storage Location Name -->
                        <td>{{ table.MATNR }}</td>
                        <!-- Material -->
                        <td>{{ table.MAKTX }}</td>
                        <!-- Material Desc -->
                        <td>{{ table.MEINS }}</td>
                        <!-- UOM -->
                        <td>{{ table.LFIMG }}</td>
                        <!-- Qty -->
                        <td>{{ table.GATEENTRY }}</td>
                        <!-- Gate Entry No -->
                        <td>{{ table.GATEDATE }}</td>
                        <!-- Gate Entry Date -->
                        <td>{{ table.AGE1 }}</td>
                        <!-- Days taken for IBD -->
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <div class="row justify-content-md-between align-items-md-center mt-2">
        <div class="col-sm-12 col-md-5">
          <div
            class="dataTables_info mb-2"
            id="tickets-table_info"
            role="status"
            aria-live="polite"
          >
            Showing {{ service.startIndex }} to {{ service.endIndex }} of
            {{ service.totalRecords }}
            entries
          </div>
        </div>
        <!-- Pagination -->
        <div class="col-sm-12 col-md-5">
          <div class="text-md-right float-md-end pagination-rounded">
            <pagination
              [totalItems]="total$ | async"
              [(ngModel)]="service.page"
            >
            </pagination>
          </div>
        </div>
        <!-- End Pagination -->
      </div>
    </div>

    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
