<div class="container-fluid">
  <div class="row">
      <div class="col-xl-12">
          <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <span style="color: black;"></span> Screen 1
                </h4>
                <form class="needs-validation" [formGroup]="validationform" (ngSubmit)="validSubmit()">
                    <div class="row mt-4">
                        <!-- Plant -->
                        <div class="col-md-1">
                          <label class="brandcolor" for="plant">PLANT</label>
                          <div class="mb-3">
                            <select
                                class="form-select"
                                id="plant"
                                formControlName="plant"
                              >
                                <option value="" disabled selected>Plant</option>
                                <option *ngFor="let type of plants" [value]="type">
                                  {{ type }}
                                </option>
                              </select>
                            <div *ngIf="submit && form.plant.errors" class="invalid-feedback">
                              <span *ngIf="form.plant.errors.required"
                                >Please provide a valid plant.</span
                              >
                            </div>
                          </div>
                        </div>
                        <!-- Year -->
                        <div class="col-md-1">
                            <div class="mb-3">
                                <label class="brandcolor" for="year">Year</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="year"
                                    formControlName="year"
                                    placeholder="Year"
                                />
                                <div *ngIf="submit && form.year.errors" class="invalid-feedback">
                                    <span *ngIf="form.year.errors.required">
                                        Please provide a valid Year.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Posting Date From -->
                        <div class="col-md-2">
                          <label class="brandcolor" for="postingDateFrom"
                            >FROM DATE</label
                          >
                          <div class="mb-3">
                            <input
                              type="text"
                              class="form-control"
                              id="postingDateFrom"
                              formControlName="postingDateFrom"
                              [bsConfig]="bsConfig"
                              bsDatepicker
                              placeholder="POSTING DATE FROM"
                              [ngClass]="{
                                'is-invalid': submit && form.postingDateFrom.errors
                              }"
                            />
                            <div
                              *ngIf="submit && form.postingDateFrom.errors"
                              class="invalid-feedback"
                            >
                              <span *ngIf="form.postingDateFrom.errors.required"
                                >Please provide a valid POSTING DATE FROM.</span
                              >
                            </div>
                          </div>
                        </div>
                        <!-- Posting Date To -->
                        <div class="col-md-2">
                          <label class="brandcolor" for="postingDateTo">TO DATE</label>
                          <div class="mb-3">
                            <input
                              type="text"
                              class="form-control"
                              id="postingDateTo"
                              formControlName="postingDateTo"
                              [bsConfig]="bsConfig"
                              bsDatepicker
                              placeholder="POSTING DATE TO"
                              [ngClass]="{
                                'is-invalid': submit && form.postingDateTo.errors
                              }"
                            />
                            <div
                              *ngIf="submit && form.postingDateTo.errors"
                              class="invalid-feedback"
                            >
                              <span *ngIf="form.postingDateTo.errors.required"
                                >Please provide a valid POSTING DATE TO.</span
                              >
                            </div>
                          </div>
                        </div>
                        <!-- Button -->
                        <div class="col-md-2 text-center">
                            <button
                                style="
                                    background-color: brown;
                                    margin-top: 28px;
                                    width: max-content;
                                    color: aliceblue;
                                "
                                class="btn"
                                type="submit"
                            >
                                Get Details
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
          <!-- end card -->
          <div class="card">
            <div class="card-body">
              <!-- Refresh Button -->
              <div>
                <button (click)="filterSelectedRows()" class="btn custom-btn rounded-circle shadow-lg p-3">
                  <i class="bx bx-revision"></i>
                </button>
              </div>

              <!-- Table -->
              <div class="table-responsive">
                <table
                  id="basic-datatable"
                  class="table table-bordered dt-responsive nowrap"
                >
                  <thead class="brandcolor tableHeader">
                    <tr>
                      <th>
                        <input
                          type="checkbox"
                          [checked]="selectAll"
                          (change)="toggleSelectAll($event)"
                        />
                      </th>
                      <!-- <th>
                        <input type="checkbox" [checked]="selectAll"     
                        [(ngModel)]="isAllSelected"
                        [ngModelOptions]="{standalone: true}" 
                        (change)="toggleSelectAll($event)" />
                      </th> -->
                      <th sortable="MATNR" (sort)="onSort($event)">
                        Inv.Doc.No
                      </th>
                      <th sortable="LGORT" (sort)="onSort($event)">
                        Fiscal Year
                      </th>
                      <th sortable="BWART" (sort)="onSort($event)">
                        Posting Date
                      </th>
                      <th sortable="WERKS" (sort)="onSort($event)">
                        Plant
                      </th>
                      <th sortable="EBELN" (sort)="onSort($event)">
                        Credit Memo No
                      </th>
                      <th sortable="EBELP" (sort)="onSort($event)">
                        Vechile
                        <span style="color: red">*</span>
                      </th>
                      <th sortable="ZEILE" (sort)="onSort($event)">
                        Transporter 
                        <span style="color: red">*</span>
                      </th>
                      <th sortable="MEINS" (sort)="onSort($event)">
                        LR Number <span style="color: red">*</span>
                      </th>
                      <th sortable="CHARG" (sort)="onSort($event)"> LR Date
                        <span style="color: red">*</span>
                      </th>
                      <th sortable="LIFNR" (sort)="onSort($event)"> Gross
                        <span style="color: red">*</span>
                      </th>
                      <th sortable="WEMPF" (sort)="onSort($event)"> Net
                        <span style="color: red">*</span>
                      </th>
                      <th sortable="REASON" (sort)="onSort($event)">Reason for Cancel 
                        <span style="color: red">*</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let table of tables$ | async; let i = index">
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          [(ngModel)]="table.selected"
                          (change)="onRowCheckboxChange(table)"
                        />
                      </td>
                      <td>{{ table.invDocNo }}</td>
                      <!-- Inv Doc No-->
                        <td>{{ table.fiscalYear }}</td>
                      <!-- Fiscal Year-->
                      <td>{{ table.BUDAT | date: 'dd-MM-yyyy'  }}</td>
                      <!-- Posting Date -->
                      <td>{{ table.WERKS }}</td>
                      <!-- Plant -->
                      <td>{{ table.creditMemoNo }}</td>
                      <!-- Credit Memo No -->
                      <td>
                        <input type="text" [(ngModel)]="table.vehicle" name="vehicle{{i}}" />
                      </td>
                      <!-- Vechile -->
                      <td>
                        <input type="text" [(ngModel)]="table.transporter" name="transporter{{i}}" />
                      </td>
                      <!-- Transporter -->
                      <td>
                        <input type="text" [(ngModel)]="table.lrNumber" name="lrNumber{{i}}" />
                      </td>
                      <!-- LR Number -->
                      <td>
                        <input type="date" [(ngModel)]="table.lrDate" name="lrDate{{i}}" />
                      </td>
                      <!-- LR Date -->
                      <td>
                        <input type="number" [(ngModel)]="table.gross" name="gross{{i}}" />
                      </td>
                      <!-- Gross -->
                      <td>
                        <input type="number" [(ngModel)]="table.net" name="net{{i}}" />
                      </td>
                      <!-- Net -->
                      <td>
                        <input type="text" [(ngModel)]="table.reasonForCancel" name="reasonForCancel{{i}}" />
                      </td>
                      <!-- Reason for Cancel -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Save & Download Buttons -->
              <div class="col-md-4 text-left">
                <button
                  style="
                    background-color: brown;
                    margin-top: 28px;
                    width: max-content;
                    color: aliceblue;
                  "
                  class="btn me-3"
                  type="submit"
                  [disabled]="!(isAllFieldsValid() | async)"
                  (click)="saveBound()"
                >
                  save
                </button>
              
                <button
                  style="
                    margin-top: 28px;
                    width: max-content;
                    color: aliceblue;
                  "
                  class="btn btn-success"
                  type="submit"
                  [disabled]="!(isAllFieldsValid() | async)"
                  (click)="saveBound()"
                  >
                  Download
                </button>
              </div>
            </div>
          </div>
        <!--Pagination-->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" role="status" aria-live="polite">
                Showing {{ service.startIndex }} to {{ service.endIndex }} of
                {{ service.totalRecords }} entries
              </div>
            </div>
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ul class="pagination justify-content-end mb-0">
                  <!-- Previous Button -->
                  <li
                    class="page-item"
                    [class.disabled]="service.page === 1"
                    (click)="service.changePage(service.page - 1)"
                  >
                    <a class="page-link" href="javascript:void(0)">Previous</a>
                  </li>
                  <!-- Current Page Display -->
                  <li class="page-item active">
                    <a class="page-link" href="javascript:void(0)">{{
                      service.page
                    }}</a>
                  </li>
                  <!-- Next Button -->
                  <li
                    class="page-item"
                    [class.disabled]="service.page === service.totalPages"
                    (click)="service.changePage(service.page + 1)"
                  >
                    <a class="page-link" href="javascript:void(0)">Next</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <!-- End Pagination-->
    </div>
  </div>
</div>  